.DivItemContainerV2 {
  border-radius: 4px;
}
.DivContainer-StyledDivContainerV2 {
  position: relative;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
}
.DivWrapper {
  position: absolute;
  inset: 0px;
}
.AVideoContainer {
  pointer-events: auto;
}
.CanvasPlaceholder {
  display: block;
  visibility: hidden;
  height: 100%;
}
@media screen and (max-width: 479px) {
  .CanvasPlaceholder {
    width: 100%;
    height: auto;
  }
}
//DivPlayerContainer
.DivPlayerContainer {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  overflow: hidden;
}
//DivContainer
.DivContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-color: rgb(37, 37, 37);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}
.css-41hm0z {
  width: 100%;
  height: 100%;
  position: relative;
}
.DivBasicPlayerWrapper {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}
//DivPlayContainer
.DivPlayContainer {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  flex-shrink: 0;
  position: absolute;
  width: 100%;
  bottom: 0px;
  height: 100px;
  background: linear-gradient(
    rgba(22, 24, 35, 0) 2.92%,
    rgba(22, 24, 35, 0.5) 98.99%
  );
  padding: 67px 12px 12px;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.DivExploreCardText {
  font-size: 16px;
  font-weight: 600;
  color: white;
}
.DivIconText {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  flex-shrink: 0;
  cursor: pointer;
}
//
.DivMuteIconContainer.DivMuteIconContainer {
  width: 24px;
  height: 24px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  position: absolute;
  bottom: 12px;
  cursor: pointer;
  opacity: 0;
  right: 12px;
}
//

.DivCardBottomInfo {
  font-family: 'Montserrat';
  font-weight: 400;
  padding-top: 4px;
  padding-bottom: 8px;
}
.DivAnchorTag {
  margin-bottom: 0px;
  min-width: 0px;
  height: 22px;
  padding: 1px 6px 1px 4px;
  background: rgba(255, 255, 255, 0.04);
  display: inline-flex;
  border-radius: 4px;
  -webkit-box-align: center;
  align-items: center;
  margin-top: 2px;
  color: rgba(255, 255, 255, 0.6);
}
.DivPlayLine {
  color: rgba(255, 255, 255, 0.75);
  font-family: 'Montserrat', Arial, Tahoma, PingFangSC, sans-serif;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  margin-top: 8px;
}
.DivUserInfo {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  overflow: hidden;
}
.PUniqueId {
  margin-right: 4px;
  margin-left: 4px;
  direction: ltr;
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: rgba(255, 255, 255, 0.9);
}
.PUniqueId:hover {
  text-decoration: underline;
}
.DivExploreCardText {
  font-size: 16px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.6);
}
.SpanAvatarContainer {
  display: inline-block;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-feature-settings: 'tnum';
  position: relative;
  overflow: hidden;
  color: rgb(255, 255, 255);
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  line-height: 32px;
  border-radius: 50%;
  background-color: rgba(136, 136, 136, 0.5);
}
.ImgAvatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
//Header Icon
.DivHeaderContainer {
  position: absolute;
  top: 0px;
  width: 100%;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  padding: 0.5rem;
  direction: ltr;
  z-index: 1;
}
.DivLeftSection {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: start;
  justify-content: flex-start;
  direction: ltr;
}
.DivBadge {
  display: inline-flex;
  padding: 0.0625rem 0.3125rem;
  -webkit-box-align: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 4px;
  background: rgb(254, 44, 85);
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 0.75rem;
  font-style: normal;
  font-family: 'Montserrat', Arial, Tahoma, PingFangSC, sans-serif;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: 0.01006rem;
}
//Meta
.DivMetaCaptionLine {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-top: 4px;
  word-break: break-word;
  cursor: pointer;
}
.DivDescriptionContentContainer {
  font-size: 16px;
  line-height: 21px;
  word-break: break-word;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.StyledCommonLink {
  display: inline-block;
}
.StrongText {
  font-weight: 600;
  color: rgb(143, 190, 233);
}
.DivTimeTag {
  color: rgba(255, 255, 255, 0.5);
  font-family: 'Montserrat', Arial, Tahoma, PingFangSC, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  width: 88px;
  height: 20px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: end;
  justify-content: flex-end;
  white-space: nowrap;
}
.DivItemContainerForSearch {
  display: block;
  float: left;
  border-radius: 2px;
  margin-right: 2px;
  width: calc(33.3% - 12px);
  margin-inline-end: 12px;
}
.DivItemContainerForSearch {
  width: calc(50% - 12px);
}
