.DivBrowserModeContainer {
  position: fixed;
  inset: 0px;
  background: rgb(18, 18, 18);
  z-index: 3000;
  display: flex;
  flex-direction: row;
}
.DivVideoContainer {
  flex: 1 0 600px;
  max-width: 100%;
  background: rgb(0, 0, 0);
  position: relative;
  overflow: hidden;
  padding: 0px 80px;
}
//Search
.DivSearchBarContainer {
  position: absolute;
  z-index: 1;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  left: 0px;
  right: 0px;
  margin: auto;
  -webkit-box-align: center;
  align-items: center;
  height: 85px;
  opacity: 0;
  transition: opacity 400ms cubic-bezier(0.25, 0, 0.25, 1);
}
@media (max-width: 1600px) {
  .DivSearchBarContainer {
    width: 100%;
  }
}
@media (max-width: 1300px) {
  .DivSearchBarContainer {
    display: flex;
  }
}
@media (max-width: 1600px) {
  .DivSearchBarBackground {
    width: 100%;
  }
}

.DivSearchBarBackground {
  position: absolute;
  height: 85px;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.3) 0px, rgba(0, 0, 0, 0) 100%);
}
.DivSearchFormContainer {
  position: relative;
  width: calc(100% - 184px);
  max-width: calc(-32px + 56.25vh);
}
.FormElement {
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  padding: 12px 16px;
  border-radius: 92px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  margin: 0px;
}
.InputElement:placeholder-shown {
  text-overflow: ellipsis;
}
.InputElement::placeholder {
  color: rgb(255, 255, 255, 0.6);
}
.InputElement {
  font-family: 'IBM Plex Sans', TikTokFont, Arial, Tahoma, PingFangSC,
    sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  border: none;
  background: transparent;
  outline: none;
  padding: 0px;
  width: 100%;
  color: rgb(255, 255, 255);
  caret-color: rgb(255, 59, 92);
  appearance: textfield;
}
.SpanSpliter {
  width: 1px;
  height: 28px;
  margin: -3px 0px;
  background: rgba(255, 255, 255, 0.34);
}
.ButtonSearch {
  padding: 11px 16px 11px 12px;
  margin: -12px -16px -12px 0px;
  font-size: 0px;
  cursor: pointer;
  outline: none;
  border: none;
  background: transparent;
}
.ButtonSearch:hover {
  background-color: rgba(255, 255, 255, 0.12);
}
.DivSearchIconContainer {
  outline: none;
}

// DivVideoWrapper
.DivVideoWrapper {
  position: absolute;
  left: 0px;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.DivContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-color: rgba(255, 255, 255, 0.08);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.css-sq145r {
  width: 100%;
  height: 100%;
  position: relative;
}
.DivBasicPlayerWrapper {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}
.DivBasicPlayerWrapper .tiktok-web-player video {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

// DivVideoControlContainer
.DivVideoControlContainer {
  width: calc(100% - 250px);
  height: 24px;
  padding-inline: 16px;
  position: absolute;
  opacity: 0;
  transition: opacity 0.3s;
  bottom: 28px;
  cursor: initial;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  left: 50%;
  transform: translateX(-50%);
  max-width: 56.25vh;
  z-index: 1;
}
@media (max-width: 1430px) {
  .DivVideoControlContainer {
    max-width: unset;
    width: calc(100% - 160px);
    margin-inline-start: 4px;
    left: unset;
    transform: none;
  }
}
.DivSeekBarContainer {
  width: 100%;
  height: 24px;
  flex: 1 1 auto;
  position: relative;
}
.DivSeekBarProgress {
  height: 4px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.34);
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.DivSeekBarCircle {
  display: none;
  width: 16px;
  height: 16px;
  background-color: rgb(255, 255, 255);
  border-radius: 16px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: 1;
}
.DivSeekBar {
  height: 4px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  transform-origin: left center;
}
.DivSeekBarTimeContainer {
  flex: 0 0 88px;
  max-width: 88px;
  margin-inline-start: 8px;
  font-size: 14px;
  line-height: 24px;
  color: rgb(255, 255, 255);
  text-align: end;
  white-space: nowrap;
  font-feature-settings: 'tnum';
  font-variant-numeric: tabular-nums;
  font-family: Tahoma, PingFangSC, sans-serif;
}

.DivBrowserModeInputBorder {
  display: block;
  position: absolute;
  inset: 0px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 92px;
  z-index: -1;
}
.DivVideoControlTop {
  width: calc(100% - 160px);
  height: 10px;
  position: absolute;
  bottom: 52px;
  left: 50%;
  transform: translateX(-50%);
  cursor: initial;
  max-width: 56.25vh;
}
.DivVideoClosedCaptionContainer {
  position: absolute;
  inset-inline-start: 10px;
  bottom: 10px;
  z-index: 1;
}
.DivVideoControlBottom {
  width: calc(100% - 160px);
  height: 28px;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  cursor: initial;
  max-width: 56.25vh;
}

.ButtonBasicButtonContainer-StyledCloseIconContainer {
  position: absolute;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  background: rgba(84, 84, 84, 0.5);
  color: #7a7a7a;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  outline: none;
  width: 40px;
  height: 40px;
  top: 20px;
  z-index: 100;
  transform: translateY(0px);
  left: 20px;
  opacity: 0.4;
  transition: opacity 400ms cubic-bezier(0.25, 0, 0.25, 1);
}
.ButtonBasicButtonContainer-StyledCloseIconContainer:hover {
  color: white;
}
.DivVideoContainer:hover .e11s2kul20,
.DivVideoContainer:hover .e11s2kul14,
.DivVideoContainer:hover .e11s2kul19,
.DivVideoContainer:hover .e11s2kul17,
.DivVideoContainer:hover .e11s2kul6,
.DivVideoContainer:hover .e11s2kul10 {
  opacity: 1;
}
.FooterBtnWrapper {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  position: absolute;
  bottom: 84px;
  left: 50%;
  transform: translateX(-50%);
  text-decoration: none;
}
.DivTabMenuWrapper {
  position: sticky;
  top: -28px;
  background: rgb(18, 18, 18);
  z-index: 1;
}
.DivTabItem {
  color: rgba(255, 255, 255, 0.9);
  font-family: TikTokFont, Arial, Tahoma, PingFangSC, sans-serif;
  font-weight: 700;
  font-size: 14px;
  overflow: auto;
  line-height: 24px;
  cursor: pointer;
  text-align: center;
}
.DivTabMenuContainer {
  padding-top: 18px;
  height: 50px;
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
}
.DivTabItemContainer {
  width: 50%;
  height: 100%;
}
:global(.tab-active).DivTabItemContainer {
  border-bottom: 2px solid rgba(255, 255, 255, 0.9);
}
.DivBorder {
  border-top: 1px solid rgba(255, 255, 255, 0.12);
  margin-left: -32px;
  margin-right: -32px;
  margin-bottom: -1px;
}
.DivProfileWrapper {
  margin-left: -32px;
  margin-right: -32px;
}
.DivCommentListContainer:first-of-type {
  padding-top: 24px;
}
.DivCommentListContainer {
  width: 100%;
  overflow: hidden auto;
  -webkit-box-flex: 1;
  flex-grow: 1;
  position: relative;
  padding: 0px 32px 24px;
}
.DivCommentContainer {
  width: 100%;
  box-sizing: border-box;
  border-top: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  overflow: hidden;
  -webkit-box-flex: 1;
  flex-grow: 1;
  position: relative;
  display: flex;
  flex-direction: column;
}
.DivContentContainer {
  flex: 0 0 544px;
  width: 544px;
  display: flex;
  flex-direction: column;
  padding: 0px;
}
//Video
.DivIconWrapper {
  font-family: TikTokFont, Arial, Tahoma, PingFangSC, sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  width: 40px;
  height: 40px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 100px;
  position: absolute;
  top: 20px;
  cursor: pointer;
  z-index: 100;
  color: rgb(255, 255, 255);
  app-region: no-drag;
  opacity: 0;
  transition: opacity 400ms cubic-bezier(0.25, 0, 0.25, 1);
  background-color: rgba(84, 84, 84, 0.5);
  right: 20px;
}

.DivMiniPlayerContainer {
  position: absolute;
  bottom: 20px;
  right: 68px;
  opacity: 0;
  transition: opacity 400ms cubic-bezier(0.25, 0, 0.25, 1);
}
.DivMiniPlayerButtonContainer:hover {
  background: rgba(37, 37, 37, 0.6);
}
.DivMiniPlayerButtonContainer {
  width: 40px;
  height: 40px;
  background: rgba(84, 84, 84, 0.5);
  border-radius: 50%;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  cursor: pointer;
  right: 66px;
}
.DivVoiceControlContainer {
  position: absolute;
  z-index: 1;
  bottom: 20px;
  right: 20px;
  opacity: 0;
  transition: opacity 400ms cubic-bezier(0.25, 0, 0.25, 1);
}
.ButtonVoiceControlNew {
  border: none;
  background: none rgba(84, 84, 84, 0.5);
  color: white;
  outline: none;
  padding: 0px;
  display: flex;
  transition: opacity 0.3s;
  cursor: pointer;
  line-height: 0;
  border-radius: 100px;
}
.ButtonVoiceControlNew:hover {
  background-color: rgba(37, 37, 37, 0.6);
  color: white;
}

.ButtonVoiceControlNew:hover {
  opacity: 0.7;
}
.ButtonBasicButtonContainer-StyledVideoSwitchUp {
  position: absolute;
  z-index: 1;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  background: rgba(84, 84, 84, 0.5);
  color: rgba(255, 255, 255);
  border-radius: 50%;
  cursor: pointer;
  border: none;
  outline: none;
  width: 40px;
  height: 40px;
  top: calc(50% - 48px);
  margin-top: -24px;
  right: 20px;
  opacity: 0.4;
  transition: opacity 400ms cubic-bezier(0.25, 0, 0.25, 1);
}
.ButtonBasicButtonContainer-StyledVideoSwitchUp:hover {
  background-color: rgba(37, 37, 37, 0.6);
}
.ButtonBasicButtonContainer-StyledVideoSwitchDown:hover {
  background-color: rgba(37, 37, 37, 0.6);
}
.ButtonBasicButtonContainer-StyledVideoSwitchDown {
  position: absolute;
  z-index: 1;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  background: rgba(84, 84, 84, 0.5);
  color: rgba(255, 255, 255);
  opacity: 0.4;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  outline: none;
  width: 40px;
  height: 40px;
  top: calc(50% + 8px);
  margin-top: -24px;
  right: 20px;
  opacity: 0.4;
  transition: opacity 400ms cubic-bezier(0.25, 0, 0.25, 1);
}
.StyledPlayIcon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

//Volume slider
.volumeSlider {
  position: absolute;
  margin-left: 10px;
  top: 10px;
  left: 80px;
  height: 24px;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.6);
  padding: 4px 6px;
  border-radius: 99px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s;
}
.volumeSlider input[type='range'] {
  -webkit-appearance: none;
  width: 80px;
  height: 4px;
  background: #aaa; /* Màu thanh */
  border-radius: 2px;
  outline: none;
  cursor: pointer;
}
.volumeSlider input[type='range']::-webkit-slider-runnable-track {
  height: 4px;
  background: linear-gradient(
    to right,
    white var(--progressVolume),
    #aaa var(--progressVolume)
  );
  border-radius: 2px;
}

.volumeSlider input[type='range']::-moz-range-track {
  height: 4px;
  background: linear-gradient(
    to right,
    white var(--progressVolume),
    #aaa var(--progressVolume)
  );
  border-radius: 2px;
}

/* Thumb */
.volumeSlider input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: white;
  border: none;
  margin-top: -4px;
}

.volumeSlider input[type='range']::-moz-range-thumb {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: white;
  border: none;
}
.DivMuteIconContainer:hover .volumeSlider {
  opacity: 1;
  pointer-events: auto;
}
