html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%;
  font-size: 16px;
  font-family: 'Montserrat';
}
html ::-webkit-scrollbar {
  border-radius: 0px;
  width: 8px;
}
html *::-webkit-scrollbar {
  border-radius: 0;
  width: 8px;
}

html ::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.08);
}
html *::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.08);
}

html ::-webkit-scrollbar-track {
  border-radius: 0px;
  background-color: rgba(0, 0, 0, 0);
}
html *::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
}
:root {
  --tux-v2-font-display: TikTokDisplayFont, system-ui, -apple-system, Segoe UI,
    Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont,
    Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue,
    sans-serif;
  --tux-v2-font-text: TikTokFont, system-ui, -apple-system, Segoe UI, Roboto,
    Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
  --tux-v2-typography-bold-weight: 700;
  --tux-v2-typography-semibold-weight: 500;
  --tux-v2-typography-regular-weight: 400;
  --tux-v2-typography-h1-size: 24px;
  --tux-v2-typography-h1-line-height: 1.25em;
  --tux-v2-typography-h1-letter-spacing: 0.01em;
  --tux-v2-typography-h2-size: 20px;
  --tux-v2-typography-h2-line-height: 1.25em;
  --tux-v2-typography-h2-letter-spacing: 0.015em;
  --tux-v2-typography-h3-size: 17px;
  --tux-v2-typography-h3-line-height: 1.3em;
  --tux-v2-typography-h3-letter-spacing: 0em;
  --tux-v2-typography-h4-size: 15px;
  --tux-v2-typography-h4-line-height: 1.3em;
  --tux-v2-typography-h4-letter-spacing: 0.004em;
  --tux-v2-typography-p1-size: 14px;
  --tux-v2-typography-p1-line-height: 1.3em;
  --tux-v2-typography-p1-letter-spacing: 0.0067em;
  --tux-v2-typography-p2-size: 13px;
  --tux-v2-typography-p2-line-height: 1.3em;
  --tux-v2-typography-p2-letter-spacing: 0.0097em;
  --tux-v2-typography-p3-size: 12px;
  --tux-v2-typography-p3-line-height: 1.3em;
  --tux-v2-typography-p3-letter-spacing: 0.0134em;
  --tux-v2-typography-smalltext1-size: 11px;
  --tux-v2-typography-smalltext1-line-height: 1.3em;
  --tux-v2-typography-smalltext1-letter-spacing: 0.0177em;
  --tux-v2-typography-smalltext2-size: 10px;
  --tux-v2-typography-smalltext2-line-height: 1.3em;
  --tux-v2-typography-smalltext2-letter-spacing: 0.0229em;
  --tux-v2-typography-headline-size: 16px;
  --tux-v2-typography-headline-line-height: 1.3em;
  --tux-v2-typography-headline-letter-spacing: 0.0019em;
  --tux-v2-typography-longform-size: 16px;
  --tux-v2-typography-longform-line-height: 1.5em;
  --tux-v2-typography-longform-letter-spacing: 0.0019em;
  --tux-v2-typography-largetitle-size: 32px;
  --tux-v2-typography-largetitle-line-height: 1.2em;
  --tux-v2-typography-largetitle-letter-spacing: 0em;
}
:root {
  --tux-v2-radius-control-tiny: 4px;
  --tux-v2-radius-control-small: 5px;
  --tux-v2-radius-control-medium: 6px;
  --tux-v2-radius-control-large: 8px;
  --tux-v2-radius-control-old: 2px;
  --tux-v2-radius-control-capsule: 9999px;
  --tux-v2-radius-content-tiny: 4px;
  --tux-v2-radius-content-small: 5px;
  --tux-v2-radius-content-medium: 6px;
  --tux-v2-radius-content-large: 8px;
  --tux-v2-radius-container-level0-small: 8px;
  --tux-v2-radius-container-level1-small: 10px;
  --tux-v2-radius-container-level2-small: 12px;
  --tux-v2-radius-container-level0-large: 10px;
  --tux-v2-radius-container-level1-large: 12px;
  --tux-v2-radius-container-level2-large: 14px;
}
:root {
  --tux-colorPositive: rgba(11, 224, 155, 1);
  --tux-colorNegative: rgba(255, 76, 58, 1);
  --tux-colorToastDefault: rgba(84, 84, 84, 0.92);
  --tux-colorToastNegative: rgba(255, 76, 58, 0.92);
  --tux-colorSecondary: rgba(32, 213, 236, 1);
  --tux-colorSecondary2: rgba(16, 162, 197, 1);
  --tux-colorPositive2: rgba(79, 171, 126, 1);
  --tux-colorConstTextInverse: rgba(255, 255, 255, 1);
  --tux-colorConstTextInverse2: rgba(255, 255, 255, 0.9);
  --tux-colorConstTextInverse3: rgba(255, 255, 255, 0.75);
  --tux-colorConstTextInverse4: rgba(255, 255, 255, 0.5);
  --tux-colorConstTextInverse5: rgba(255, 255, 255, 0.34);
  --tux-colorConstTextPrimary: rgba(22, 24, 35, 1);
  --tux-colorConstBGInverse: rgba(0, 0, 0, 1);
  --tux-colorConstBGInverse2: rgba(0, 0, 0, 0.6);
  --tux-colorConstBGInverse3: rgba(37, 37, 37, 0.6);
  --tux-colorConstBGInverse4: rgba(84, 84, 84, 0.5);
  --tux-colorBGCreation: rgba(0, 0, 0, 1);
  --tux-colorBGCreation2: rgba(27, 27, 27, 1);
  --tux-colorBGCreation5: rgba(0, 0, 0, 0.15);
  --tux-colorConstBGMat: rgba(255, 255, 255, 0.2);
  --tux-colorConstBGContainer: rgba(255, 255, 255, 0.12);
  --tux-colorConstBGContainer2: rgba(255, 255, 255, 0.08);
  --tux-colorConstBGContainer3: rgba(255, 255, 255, 0.04);
  --tux-colorConstBGPlaceholderOpaque: rgba(241, 241, 241, 1);
  --tux-colorConstBGInverseOpaque: rgba(37, 37, 37, 1);
  --tux-colorConstBGInverse1: rgba(56, 56, 56, 0.95);
  --tux-colorConstLineInverse: rgba(255, 255, 255, 0.2);
  --tux-colorConstLineInverse2: rgba(255, 255, 255, 0.12);
  --tux-colorSDPrimary: rgba(0, 0, 0, 0.8);
  --tux-gradientLive: linear-gradient(131.17deg, #ff1764 0%, #ed3495 94.15%);
  --tux-gradientVideoCoverOverlay: linear-gradient(
    180deg,
    rgba(22, 24, 35, 0.0001) 2.92%,
    rgba(22, 24, 35, 0.5) 98.99%
  );
  --tux-colorAssistColorYellow: rgba(250, 206, 21, 1);
}
:root {
  --tux-v2-pressed-state-light-scale: 0.99;
  --tux-v2-pressed-state-medium-scale: 0.95;
  --tux-v2-pressed-state-strong-scale: 0.9;
}
:root,
[data-theme='light'] {
  --AssistColorAzure: #2b5db9;
  --AssistColorBlue: #4b5dc2;
  --AssistColorCelulean: #408d9f;
  --AssistColorGreen: #3b824a;
  --AssistColorOrange: #fc9c0c;
  --AssistColorPurple: #5e39d0;
  --AssistColorRed: #e54a82;
  --AssistColorResso: #ff005c;
  --AssistColorYellow: #face15;
  --BGBase: #f5f5f5;
  --BGBrand: rgba(254, 44, 85, 0.06);
  --BGCreation: #121212;
  --BGCreation2: #1b1b1b;
  --BGCreation3: #f8f8f8;
  --BGInput: rgba(22, 24, 35, 0.06);
  --BGInput2: rgba(22, 24, 35, 0.06);
  --BGInverse3: rgba(37, 37, 37, 0.6);
  --BGLevitation: #fff;
  --BGPlaceholderDefault: rgba(22, 24, 35, 0.06);
  --BGPlaceholderOpaque: #f1f1f1;
  --BGPrimary: #fff;
  --BGPrimary2: #fff;
  --BGQuaternary: #fff;
  --BGQuinary: #fff;
  --BGReverse: #fff;
  --BGReverse2: hsla(0, 0%, 100%, 0.9);
  --BGSecondary: #fff;
  --BGSecondary2: #fff;
  --BGTertiary: #fff;
  --BGTertiary2: #fff;
  --BGView: rgba(22, 24, 35, 0.03);
  --BGView2: rgba(22, 24, 35, 0.03);
  --ConstBGBrand: rgba(254, 44, 85, 0.5);
  --ConstBGContainer: hsla(0, 0%, 100%, 0.12);
  --ConstBGContainer2: hsla(0, 0%, 100%, 0.08);
  --ConstBGContainer3: hsla(0, 0%, 100%, 0.04);
  --ConstBGInverse: #000;
  --ConstBGInverse1: rgba(56, 56, 56, 0.95);
  --ConstBGInverse2: rgba(0, 0, 0, 0.6);
  --ConstBGInverse3: rgba(37, 37, 37, 0.6);
  --ConstBGInverse4: rgba(84, 84, 84, 0.5);
  --ConstBGInverse5: rgba(0, 0, 0, 0.2);
  --ConstBGInverseOpaque: #2e2e2e;
  --ConstBGMat: hsla(0, 0%, 100%, 0.34);
  --ConstBGMat2: hsla(0, 0%, 100%, 0.2);
  --ConstBGPlaceholderOpaque: #f1f1f1;
  --ConstBGSecondary: rgba(32, 213, 236, 0.05);
  --ConstInteractStatePressedMaskLightInverse: rgba(22, 24, 35, 0.1);
  --ConstInteractStatePressedMaskStrongInverse: rgba(22, 24, 35, 0.3);
  --ConstLineInverse: hsla(0, 0%, 100%, 0.2);
  --ConstLineInverse2: hsla(0, 0%, 100%, 0.12);
  --ConstTextInverse: #fff;
  --ConstTextInverse2: hsla(0, 0%, 100%, 0.9);
  --ConstTextInverse3: hsla(0, 0%, 100%, 0.75);
  --ConstTextInverse4: hsla(0, 0%, 100%, 0.5);
  --ConstTextInverse5: hsla(0, 0%, 100%, 0.34);
  --ConstTextPrimary: #161823;
  --InteractStatePressedMaskLight: rgba(22, 24, 35, 0.1);
  --LineDarker: rgba(22, 24, 35, 0.03);
  --LineInput: rgba(22, 24, 35, 0.5);
  --LineInverse: rgba(22, 24, 35, 0.2);
  --LinePrimary: rgba(22, 24, 35, 0.2);
  --LinePrimary2: rgba(22, 24, 35, 0.2);
  --LineReverse2: rgba(22, 24, 35, 0.12);
  --LineReverse3: rgba(22, 24, 35, 0.12);
  --LineSecondary: rgba(22, 24, 35, 0.12);
  --LineSecondary2: rgba(22, 24, 35, 0.12);
  --LineSecondary3: rgba(22, 24, 35, 0.12);
  --Link: #fe2c55;
  --Link2: #fe2c55;
  --Link3: #fe2c55;
  --LiveColorEnd: #ed3495;
  --LiveColorStart: #ff1764;
  --Negative: #ff4c3a;
  --Positive: #0be09b;
  --Positive2: #4fab7e;
  --Primary: #fe2c55;
  --Primary2: #161823;
  --SDPrimary: rgba(0, 0, 0, 0.8);
  --SDSecondary: rgba(0, 0, 0, 0.6);
  --SDTertiary: rgba(0, 0, 0, 0.2);
  --Secondary: #20d5ec;
  --Secondary2: #10a2c5;
  --ShadowPrimary: rgba(0, 0, 0, 0.12);
  --ShadowSecondary: rgba(0, 0, 0, 0.06);
  --StoryColorEnd: #1ae3c6;
  --StoryColorMiddle: #20d5ec;
  --StoryColorStart: #15c0f9;
  --TagBrownBG: #f5f0f0;
  --TagBrownText: #805959;
  --TagGreenBG: #eff5f2;
  --TagGreenText: #59806c;
  --TagPurpleBG: #f6f0f5;
  --TagPurpleText: #805979;
  --TextPrimary: #161823;
  --TextQuaternary: rgba(22, 24, 35, 0.34);
  --TextReverse: #161823;
  --TextReverse2: rgba(22, 24, 35, 0.75);
  --TextReverse3: rgba(22, 24, 35, 0.5);
  --TextReverse4: rgba(22, 24, 35, 0.34);
  --TextSecondary: rgba(22, 24, 35, 0.75);
  --TextTertiary: rgba(22, 24, 35, 0.5);
  --TextTertiary2: rgba(22, 24, 35, 0.5);
  --TextTertiaryAlt: rgba(22, 24, 35, 0.6);
  --ToastDefault: rgba(84, 84, 84, 0.92);
  --ToastNegative: rgba(255, 76, 58, 0.92);
}
[data-tux-color-scheme='dark'] {
  --tux-v2-pressed-state-strong-opacity: 0.4;
}
[data-tux-color-scheme='dark'] {
  --brand-ai-1: rgba(132, 112, 255, 1);
  --brand-oscar-gold: rgba(186, 158, 94, 1);
  --brand-tako-1: rgba(0, 181, 238, 1);
  --brand-tako-2: rgba(255, 255, 255, 1);
  --brand-tiktok-plus-1: rgba(178, 132, 43, 1);
  --brand-tiktok-background: rgba(0, 0, 0, 1);
  --brand-tiktok-background-element: rgba(255, 255, 255, 1);
  --brand-tiktok-black: rgba(0, 0, 0, 1);
  --brand-tiktok-razzmatazz: rgba(254, 44, 85, 1);
  --brand-tiktok-splash: rgba(37, 244, 238, 1);
  --brand-tiktok-spotlight: rgba(255, 255, 255, 1);
  --brand-tiktok-subject-in-spotlight: rgba(0, 0, 0, 1);
  --brand-tiktok-white: rgba(255, 255, 255, 1);
  --brand-tiktokphotos-1: rgba(100, 250, 205, 1);
  --brand-tiktokphotos-2: rgba(0, 170, 150, 1);
  --brand-tokopedia-1: rgba(0, 170, 91, 1);
  --creation-adjust-background: rgba(255, 178, 215, 1);
  --creation-adjust-hsl-blue: rgba(50, 152, 246, 1);
  --creation-adjust-hsl-cyan: rgba(53, 225, 225, 1);
  --creation-adjust-hsl-fuchsia: rgba(201, 46, 255, 1);
  --creation-adjust-hsl-green: rgba(120, 194, 94, 1);
  --creation-adjust-hsl-indigo: rgba(88, 86, 214, 1);
  --creation-adjust-hsl-orange: rgba(255, 147, 61, 1);
  --creation-adjust-hsl-red: rgba(255, 82, 82, 1);
  --creation-adjust-hsl-yellow: rgba(242, 205, 70, 1);
  --creation-adjust-label: rgba(142, 31, 84, 1);
  --creation-filter-background: rgba(255, 191, 191, 1);
  --creation-filter-label: rgba(139, 35, 41, 1);
  --creation-flash-light-cold: rgba(211, 234, 255, 1);
  --creation-flash-light-warm: rgba(255, 242, 205, 1);
  --creation-glance-watermark: rgba(255, 248, 90, 1);
  --creation-pill-overlay: rgba(230, 230, 230, 0.28);
  --ec-black-text-1: rgba(0, 0, 0, 1);
  --ec-black-text-2: rgba(0, 0, 0, 0.65);
  --ec-black-text-3: rgba(0, 0, 0, 0.48);
  --ec-cyan-banner: rgba(26, 48, 49, 1);
  --ec-cyan-border: rgba(168, 231, 231, 0.14);
  --ec-cyan-main: rgba(0, 184, 185, 1);
  --ec-cyan-tag: rgba(0, 184, 185, 0.34);
  --ec-cyan-text: rgba(0, 184, 185, 1);
  --ec-cyan-text-on-tag: rgba(168, 231, 231, 1);
  --ec-primary-banner: rgba(57, 33, 37, 1);
  --ec-primary-border: rgba(255, 183, 197, 0.12);
  --ec-primary-tag: rgba(255, 59, 92, 0.34);
  --ec-primary-text-on-tag: rgba(255, 204, 214, 1);
  --ec-white-text-1: rgba(246, 246, 246, 1);
  --ec-white-text-2: rgba(255, 255, 255, 0.88);
  --ec-white-text-3: rgba(255, 255, 255, 0.6);
  --feed-anchor-bg: rgba(37, 37, 37, 0.34);
  --feed-top-tab-text-shadow-a30: rgba(0, 0, 0, 0.3);
  --feed-top-tab-text-shadow-a40: rgba(0, 0, 0, 0.4);
  --feed-top-tab-text-shadow-a50: rgba(0, 0, 0, 0.5);
  --feed-top-tab-text-shadow-a66: rgba(0, 0, 0, 0.66);
  --feed-top-tab-text-shadow-a83: rgba(0, 0, 0, 0.83);
  --localservice-poi: rgba(19, 189, 144, 1);
  --localservice-poi-background: rgba(19, 189, 144, 0.2);
  --misc-online-shape: rgba(29, 215, 101, 1);
  --misc-online-text: rgba(34, 198, 96, 1);
  --misc-rating-star-selected-fill: rgba(250, 206, 21, 1);
  --misc-verified-badge-1: rgba(32, 213, 236, 1);
  --misc-verified-badge-2: rgba(255, 255, 255, 1);
  --profile-icon-background-dark-gray: rgba(124, 124, 124, 0.9);
  --social-chat-gradient-blue-1: rgba(0, 184, 211, 1);
  --social-chat-gradient-blue-2: rgba(0, 173, 210, 1);
  --social-chat-gradient-blue-3: rgba(23, 135, 217, 1);
  --social-snail-1: rgba(124, 92, 253, 1);
  --social-story-gradient-green-1: rgba(11, 171, 249, 1);
  --social-story-gradient-green-2: rgba(32, 214, 235, 1);
  --social-story-gradient-green-3: rgba(10, 243, 185, 1);
  --social-story-gradient-purple-1: rgba(95, 124, 255, 1);
  --social-story-gradient-purple-2: rgba(115, 102, 254, 1);
  --social-story-gradient-purple-3: rgba(131, 90, 247, 1);
  --social-story-shape-purple: rgba(124, 92, 253, 0.66);
  --social-text-streak: rgba(255, 102, 18, 1);
  --ui-image-overlay-black: rgba(0, 0, 0, 1);
  --ui-image-overlay-black-a15: rgba(0, 0, 0, 0.15);
  --ui-image-overlay-black-a25: rgba(0, 0, 0, 0.25);
  --ui-image-overlay-black-a50: rgba(0, 0, 0, 0.5);
  --ui-image-overlay-black-a80: rgba(0, 0, 0, 0.8);
  --ui-image-overlay-dark-gray-a30: rgba(51, 51, 51, 0.3);
  --ui-image-overlay-dark-gray-a60: rgba(51, 51, 51, 0.6);
  --ui-image-overlay-dark-gray-a85: rgba(51, 51, 51, 0.85);
  --ui-image-overlay-white: rgba(255, 255, 255, 1);
  --ui-image-overlay-white-a20: rgba(255, 255, 255, 0.2);
  --ui-image-overlay-white-a40: rgba(255, 255, 255, 0.4);
  --ui-image-overlay-white-a75: rgba(255, 255, 255, 0.75);
  --ui-page-flat-1: rgba(0, 0, 0, 1);
  --ui-page-flat-2: rgba(30, 30, 30, 1);
  --ui-page-flat-3: rgba(44, 44, 44, 1);
  --ui-page-grouped-1: rgba(0, 0, 0, 1);
  --ui-page-grouped-2: rgba(30, 30, 30, 1);
  --ui-page-grouped-3: rgba(44, 44, 44, 1);
  --ui-shape-danger: rgba(255, 76, 58, 1);
  --ui-shape-danger-2: rgba(255, 76, 58, 0.68);
  --ui-shape-danger-3: rgba(255, 76, 58, 0.5);
  --ui-shape-danger-4: rgba(255, 76, 58, 0.29);
  --ui-shape-info: rgba(0, 117, 220, 1);
  --ui-shape-info-2: rgba(32, 151, 255, 0.6);
  --ui-shape-info-3: rgba(32, 151, 255, 0.47);
  --ui-shape-info-4: rgba(32, 151, 255, 0.29);
  --ui-shape-neutral: rgba(250, 250, 250, 1);
  --ui-shape-neutral-2: rgba(255, 255, 255, 0.32);
  --ui-shape-neutral-3: rgba(255, 255, 255, 0.19);
  --ui-shape-neutral-4: rgba(255, 255, 255, 0.13);
  --ui-shape-primary: rgba(254, 44, 85, 1);
  --ui-shape-primary-2: rgba(254, 44, 85, 0.6);
  --ui-shape-primary-3: rgba(254, 44, 85, 0.43);
  --ui-shape-primary-4: rgba(254, 44, 85, 0.27);
  --ui-shape-secondary: rgba(32, 213, 236, 1);
  --ui-shape-secondary-2: rgba(32, 213, 236, 0.5);
  --ui-shape-secondary-3: rgba(32, 213, 236, 0.32);
  --ui-shape-secondary-4: rgba(32, 213, 236, 0.21);
  --ui-shape-secondary-5: rgba(32, 213, 236, 0.13);
  --ui-shape-secondary-muted: rgba(0, 162, 201, 1);
  --ui-shape-secondary-muted-2: rgba(0, 162, 201, 0.66);
  --ui-shape-secondary-muted-3: rgba(0, 162, 201, 0.46);
  --ui-shape-secondary-muted-4: rgba(0, 162, 201, 0.3);
  --ui-shape-success: rgba(11, 224, 155, 1);
  --ui-shape-success-2: rgba(11, 224, 155, 0.66);
  --ui-shape-success-3: rgba(11, 224, 155, 0.46);
  --ui-shape-success-4: rgba(11, 224, 155, 0.25);
  --ui-shape-text-1-on-danger: rgba(255, 255, 255, 1);
  --ui-shape-text-1-on-info: rgba(231, 244, 255, 1);
  --ui-shape-text-1-on-neutral: rgba(0, 0, 0, 1);
  --ui-shape-text-1-on-primary: rgba(255, 255, 255, 1);
  --ui-shape-text-1-on-secondary: rgba(0, 52, 60, 1);
  --ui-shape-text-1-on-secondary-muted: rgba(255, 255, 255, 1);
  --ui-shape-text-1-on-success: rgba(0, 54, 40, 1);
  --ui-shape-text-1-on-warning: rgba(45, 18, 0, 1);
  --ui-shape-text-2-on-danger: rgba(255, 203, 190, 1);
  --ui-shape-text-2-on-info: rgba(142, 202, 255, 1);
  --ui-shape-text-2-on-neutral: rgba(0, 0, 0, 0.48);
  --ui-shape-text-2-on-primary: rgba(255, 217, 218, 1);
  --ui-shape-text-2-on-secondary: rgba(0, 102, 116, 1);
  --ui-shape-text-2-on-secondary-muted: rgba(177, 240, 255, 1);
  --ui-shape-text-2-on-success: rgba(0, 133, 104, 1);
  --ui-shape-text-2-on-warning: rgba(144, 74, 0, 1);
  --ui-shape-text-on-secondary-2-or-3: rgba(160, 237, 250, 1);
  --ui-shape-text-on-secondary-4-or-5: rgba(129, 204, 216, 1);
  --ui-shape-text-on-secondary-muted-2-or-3: rgba(173, 233, 255, 1);
  --ui-shape-text-on-secondary-muted-4-or-5: rgba(134, 201, 226, 1);
  --ui-shape-warning: rgba(255, 149, 0, 1);
  --ui-shape-warning-2: rgba(255, 149, 0, 0.67);
  --ui-shape-warning-3: rgba(255, 149, 0, 0.51);
  --ui-shape-warning-4: rgba(255, 149, 0, 0.28);
  --ui-sheet-backdrop-1: rgba(0, 0, 0, 0.7);
  --ui-sheet-backdrop-2: rgba(0, 0, 0, 0.5);
  --ui-sheet-flat-1: rgba(30, 30, 30, 1);
  --ui-sheet-flat-2: rgba(45, 45, 45, 1);
  --ui-sheet-flat-3: rgba(58, 58, 58, 1);
  --ui-sheet-grouped-1: rgba(30, 30, 30, 1);
  --ui-sheet-grouped-2: rgba(45, 45, 45, 1);
  --ui-sheet-grouped-3: rgba(58, 58, 58, 1);
  --ui-text-1: rgba(246, 246, 246, 1);
  --ui-text-1-display: rgba(240, 240, 240, 1);
  --ui-text-2: rgba(255, 255, 255, 0.88);
  --ui-text-3: rgba(255, 255, 255, 0.6);
  --ui-text-danger: rgba(255, 118, 96, 1);
  --ui-text-danger-display: rgba(255, 91, 72, 1);
  --ui-text-info: rgba(96, 179, 255, 1);
  --ui-text-info-display: rgba(96, 179, 255, 1);
  --ui-text-placeholder: rgba(255, 255, 255, 0.4);
  --ui-text-primary: rgba(255, 87, 111, 1);
  --ui-text-primary-display: rgba(255, 59, 92, 1);
  --ui-text-secondary: rgba(32, 213, 236, 1);
  --ui-text-secondary-display: rgba(32, 213, 236, 1);
  --ui-text-success: rgba(11, 224, 155, 1);
  --ui-text-success-display: rgba(11, 224, 155, 1);
  --ui-text-warning: rgba(255, 181, 84, 1);
  --ui-text-warning-display: rgba(255, 149, 0, 1);
}
[data-theme='dark'],
[data-tux-theme='dark'] {
  --tux-colorPrimary: rgba(255, 59, 92, 1);
  --tux-colorPrimary-tint-4: rgba(255, 67, 99, 1);
  --tux-colorPrimary-tint-8: rgba(255, 75, 105, 1);
  --tux-colorPrimary-tint-12: rgba(255, 83, 112, 1);
  --tux-colorPrimary-opacity-0: rgba(255, 59, 92, 0);
  --tux-colorPrimary-opacity-4: rgba(255, 59, 92, 0.04);
  --tux-colorPrimary-opacity-8: rgba(255, 59, 92, 0.08);
  --tux-colorPrimary-opacity-12: rgba(255, 59, 92, 0.12);
  --tux-colorLink: rgba(255, 59, 92, 1);
  --tux-colorPrimary2: rgba(255, 255, 255, 0.9);
  --tux-colorTextPrimary: rgba(255, 255, 255, 0.9);
  --tux-colorTextSecondary: rgba(255, 255, 255, 0.75);
  --tux-colorTextTertiary: rgba(255, 255, 255, 0.5);
  --tux-colorTextQuaternary: rgba(255, 255, 255, 0.34);
  --tux-colorBGPrimary: rgba(18, 18, 18, 1);
  --tux-colorBGSecondary: rgba(37, 37, 37, 1);
  --tux-colorBGSecondary-tint-4: rgba(46, 46, 46, 1);
  --tux-colorBGSecondary-tint-8: rgba(54, 54, 54, 1);
  --tux-colorBGSecondary-tint-12: rgba(63, 63, 63, 1);
  --tux-colorBGSecondary-opacity-0: rgba(37, 37, 37, 0);
  --tux-colorBGSecondary-opacity-4: rgba(37, 37, 37, 0.04);
  --tux-colorBGSecondary-opacity-8: rgba(37, 37, 37, 0.08);
  --tux-colorBGSecondary-opacity-12: rgba(37, 37, 37, 0.12);
  --tux-colorBGTertiary: rgba(46, 46, 46, 1);
  --tux-colorBGQuaternary: rgba(56, 56, 56, 1);
  --tux-colorBGQuinary: rgba(75, 75, 75, 1);
  --tux-colorBGSecondary2: rgba(255, 255, 255, 0.08);
  --tux-colorBGTertiary2: rgba(255, 255, 255, 0.12);
  --tux-colorBGPlaceholderDefault: rgba(255, 255, 255, 0.08);
  --tux-colorBGPlaceholderOpaque: rgba(37, 37, 37, 1);
  --tux-colorBGInput: rgba(255, 255, 255, 0.12);
  --tux-colorBGInput2: rgba(255, 255, 255, 0.08);
  --tux-colorBGView: rgba(255, 255, 255, 0.04);
  --tux-colorBGCreation3: rgba(18, 18, 18, 1);
  --tux-colorBGCreation4: rgba(27, 27, 27, 1);
  --tux-colorBGBrand: rgba(254, 44, 85, 0.34);
  --tux-colorLinePrimary: rgba(255, 255, 255, 0);
  --tux-colorLineSecondary: rgba(255, 255, 255, 0.12);
  --tux-colorLineInput: rgba(255, 255, 255, 0.5);
  --tux-colorLinePrimary2: rgba(255, 255, 255, 0.2);
  --tux-colorLineSecondary2: rgba(255, 255, 255, 0);
  --tux-colorLineSecondary3: rgba(255, 255, 255, 0.5);
  --tux-colorLineDarker: rgba(0, 0, 0, 0.6);
  --tux-colorSDSecondary: rgba(0, 0, 0, 0.68);
  --tux-colorSDTertiary: rgba(0, 0, 0, 0.5);
}
[data-tux-color-scheme='dark'] {
  --brand-ai-1: rgba(132, 112, 255, 1);
  --brand-oscar-gold: rgba(186, 158, 94, 1);
  --brand-tako-1: rgba(0, 181, 238, 1);
  --brand-tako-2: rgba(255, 255, 255, 1);
  --brand-tiktok-plus-1: rgba(178, 132, 43, 1);
  --brand-tiktok-background: rgba(0, 0, 0, 1);
  --brand-tiktok-background-element: rgba(255, 255, 255, 1);
  --brand-tiktok-black: rgba(0, 0, 0, 1);
  --brand-tiktok-razzmatazz: rgba(254, 44, 85, 1);
  --brand-tiktok-splash: rgba(37, 244, 238, 1);
  --brand-tiktok-spotlight: rgba(255, 255, 255, 1);
  --brand-tiktok-subject-in-spotlight: rgba(0, 0, 0, 1);
  --brand-tiktok-white: rgba(255, 255, 255, 1);
  --brand-tiktokphotos-1: rgba(100, 250, 205, 1);
  --brand-tiktokphotos-2: rgba(0, 170, 150, 1);
  --brand-tokopedia-1: rgba(0, 170, 91, 1);
  --creation-adjust-background: rgba(255, 178, 215, 1);
  --creation-adjust-hsl-blue: rgba(50, 152, 246, 1);
  --creation-adjust-hsl-cyan: rgba(53, 225, 225, 1);
  --creation-adjust-hsl-fuchsia: rgba(201, 46, 255, 1);
  --creation-adjust-hsl-green: rgba(120, 194, 94, 1);
  --creation-adjust-hsl-indigo: rgba(88, 86, 214, 1);
  --creation-adjust-hsl-orange: rgba(255, 147, 61, 1);
  --creation-adjust-hsl-red: rgba(255, 82, 82, 1);
  --creation-adjust-hsl-yellow: rgba(242, 205, 70, 1);
  --creation-adjust-label: rgba(142, 31, 84, 1);
  --creation-filter-background: rgba(255, 191, 191, 1);
  --creation-filter-label: rgba(139, 35, 41, 1);
  --creation-flash-light-cold: rgba(211, 234, 255, 1);
  --creation-flash-light-warm: rgba(255, 242, 205, 1);
  --creation-glance-watermark: rgba(255, 248, 90, 1);
  --creation-pill-overlay: rgba(230, 230, 230, 0.28);
  --ec-black-text-1: rgba(0, 0, 0, 1);
  --ec-black-text-2: rgba(0, 0, 0, 0.65);
  --ec-black-text-3: rgba(0, 0, 0, 0.48);
  --ec-cyan-banner: rgba(26, 48, 49, 1);
  --ec-cyan-border: rgba(168, 231, 231, 0.14);
  --ec-cyan-main: rgba(0, 184, 185, 1);
  --ec-cyan-tag: rgba(0, 184, 185, 0.34);
  --ec-cyan-text: rgba(0, 184, 185, 1);
  --ec-cyan-text-on-tag: rgba(168, 231, 231, 1);
  --ec-primary-banner: rgba(57, 33, 37, 1);
  --ec-primary-border: rgba(255, 183, 197, 0.12);
  --ec-primary-tag: rgba(255, 59, 92, 0.34);
  --ec-primary-text-on-tag: rgba(255, 204, 214, 1);
  --ec-white-text-1: rgba(246, 246, 246, 1);
  --ec-white-text-2: rgba(255, 255, 255, 0.88);
  --ec-white-text-3: rgba(255, 255, 255, 0.6);
  --feed-anchor-bg: rgba(37, 37, 37, 0.34);
  --feed-top-tab-text-shadow-a30: rgba(0, 0, 0, 0.3);
  --feed-top-tab-text-shadow-a40: rgba(0, 0, 0, 0.4);
  --feed-top-tab-text-shadow-a50: rgba(0, 0, 0, 0.5);
  --feed-top-tab-text-shadow-a66: rgba(0, 0, 0, 0.66);
  --feed-top-tab-text-shadow-a83: rgba(0, 0, 0, 0.83);
  --localservice-poi: rgba(19, 189, 144, 1);
  --localservice-poi-background: rgba(19, 189, 144, 0.2);
  --misc-online-shape: rgba(29, 215, 101, 1);
  --misc-online-text: rgba(34, 198, 96, 1);
  --misc-rating-star-selected-fill: rgba(250, 206, 21, 1);
  --misc-verified-badge-1: rgba(32, 213, 236, 1);
  --misc-verified-badge-2: rgba(255, 255, 255, 1);
  --profile-icon-background-dark-gray: rgba(124, 124, 124, 0.9);
  --social-chat-gradient-blue-1: rgba(0, 184, 211, 1);
  --social-chat-gradient-blue-2: rgba(0, 173, 210, 1);
  --social-chat-gradient-blue-3: rgba(23, 135, 217, 1);
  --social-snail-1: rgba(124, 92, 253, 1);
  --social-story-gradient-green-1: rgba(11, 171, 249, 1);
  --social-story-gradient-green-2: rgba(32, 214, 235, 1);
  --social-story-gradient-green-3: rgba(10, 243, 185, 1);
  --social-story-gradient-purple-1: rgba(95, 124, 255, 1);
  --social-story-gradient-purple-2: rgba(115, 102, 254, 1);
  --social-story-gradient-purple-3: rgba(131, 90, 247, 1);
  --social-story-shape-purple: rgba(124, 92, 253, 0.66);
  --social-text-streak: rgba(255, 102, 18, 1);
  --ui-image-overlay-black: rgba(0, 0, 0, 1);
  --ui-image-overlay-black-a15: rgba(0, 0, 0, 0.15);
  --ui-image-overlay-black-a25: rgba(0, 0, 0, 0.25);
  --ui-image-overlay-black-a50: rgba(0, 0, 0, 0.5);
  --ui-image-overlay-black-a80: rgba(0, 0, 0, 0.8);
  --ui-image-overlay-dark-gray-a30: rgba(51, 51, 51, 0.3);
  --ui-image-overlay-dark-gray-a60: rgba(51, 51, 51, 0.6);
  --ui-image-overlay-dark-gray-a85: rgba(51, 51, 51, 0.85);
  --ui-image-overlay-white: rgba(255, 255, 255, 1);
  --ui-image-overlay-white-a20: rgba(255, 255, 255, 0.2);
  --ui-image-overlay-white-a40: rgba(255, 255, 255, 0.4);
  --ui-image-overlay-white-a75: rgba(255, 255, 255, 0.75);
  --ui-page-flat-1: rgba(0, 0, 0, 1);
  --ui-page-flat-2: rgba(30, 30, 30, 1);
  --ui-page-flat-3: rgba(44, 44, 44, 1);
  --ui-page-grouped-1: rgba(0, 0, 0, 1);
  --ui-page-grouped-2: rgba(30, 30, 30, 1);
  --ui-page-grouped-3: rgba(44, 44, 44, 1);
  --ui-shape-danger: rgba(255, 76, 58, 1);
  --ui-shape-danger-2: rgba(255, 76, 58, 0.68);
  --ui-shape-danger-3: rgba(255, 76, 58, 0.5);
  --ui-shape-danger-4: rgba(255, 76, 58, 0.29);
  --ui-shape-info: rgba(0, 117, 220, 1);
  --ui-shape-info-2: rgba(32, 151, 255, 0.6);
  --ui-shape-info-3: rgba(32, 151, 255, 0.47);
  --ui-shape-info-4: rgba(32, 151, 255, 0.29);
  --ui-shape-neutral: rgba(250, 250, 250, 1);
  --ui-shape-neutral-2: rgba(255, 255, 255, 0.32);
  --ui-shape-neutral-3: rgba(255, 255, 255, 0.19);
  --ui-shape-neutral-4: rgba(255, 255, 255, 0.13);
  --ui-shape-primary: rgba(254, 44, 85, 1);
  --ui-shape-primary-2: rgba(254, 44, 85, 0.6);
  --ui-shape-primary-3: rgba(254, 44, 85, 0.43);
  --ui-shape-primary-4: rgba(254, 44, 85, 0.27);
  --ui-shape-secondary: rgba(32, 213, 236, 1);
  --ui-shape-secondary-2: rgba(32, 213, 236, 0.5);
  --ui-shape-secondary-3: rgba(32, 213, 236, 0.32);
  --ui-shape-secondary-4: rgba(32, 213, 236, 0.21);
  --ui-shape-secondary-5: rgba(32, 213, 236, 0.13);
  --ui-shape-secondary-muted: rgba(0, 162, 201, 1);
  --ui-shape-secondary-muted-2: rgba(0, 162, 201, 0.66);
  --ui-shape-secondary-muted-3: rgba(0, 162, 201, 0.46);
  --ui-shape-secondary-muted-4: rgba(0, 162, 201, 0.3);
  --ui-shape-success: rgba(11, 224, 155, 1);
  --ui-shape-success-2: rgba(11, 224, 155, 0.66);
  --ui-shape-success-3: rgba(11, 224, 155, 0.46);
  --ui-shape-success-4: rgba(11, 224, 155, 0.25);
  --ui-shape-text-1-on-danger: rgba(255, 255, 255, 1);
  --ui-shape-text-1-on-info: rgba(231, 244, 255, 1);
  --ui-shape-text-1-on-neutral: rgba(0, 0, 0, 1);
  --ui-shape-text-1-on-primary: rgba(255, 255, 255, 1);
  --ui-shape-text-1-on-secondary: rgba(0, 52, 60, 1);
  --ui-shape-text-1-on-secondary-muted: rgba(255, 255, 255, 1);
  --ui-shape-text-1-on-success: rgba(0, 54, 40, 1);
  --ui-shape-text-1-on-warning: rgba(45, 18, 0, 1);
  --ui-shape-text-2-on-danger: rgba(255, 203, 190, 1);
  --ui-shape-text-2-on-info: rgba(142, 202, 255, 1);
  --ui-shape-text-2-on-neutral: rgba(0, 0, 0, 0.48);
  --ui-shape-text-2-on-primary: rgba(255, 217, 218, 1);
  --ui-shape-text-2-on-secondary: rgba(0, 102, 116, 1);
  --ui-shape-text-2-on-secondary-muted: rgba(177, 240, 255, 1);
  --ui-shape-text-2-on-success: rgba(0, 133, 104, 1);
  --ui-shape-text-2-on-warning: rgba(144, 74, 0, 1);
  --ui-shape-text-on-secondary-2-or-3: rgba(160, 237, 250, 1);
  --ui-shape-text-on-secondary-4-or-5: rgba(129, 204, 216, 1);
  --ui-shape-text-on-secondary-muted-2-or-3: rgba(173, 233, 255, 1);
  --ui-shape-text-on-secondary-muted-4-or-5: rgba(134, 201, 226, 1);
  --ui-shape-warning: rgba(255, 149, 0, 1);
  --ui-shape-warning-2: rgba(255, 149, 0, 0.67);
  --ui-shape-warning-3: rgba(255, 149, 0, 0.51);
  --ui-shape-warning-4: rgba(255, 149, 0, 0.28);
  --ui-sheet-backdrop-1: rgba(0, 0, 0, 0.7);
  --ui-sheet-backdrop-2: rgba(0, 0, 0, 0.5);
  --ui-sheet-flat-1: rgba(30, 30, 30, 1);
  --ui-sheet-flat-2: rgba(45, 45, 45, 1);
  --ui-sheet-flat-3: rgba(58, 58, 58, 1);
  --ui-sheet-grouped-1: rgba(30, 30, 30, 1);
  --ui-sheet-grouped-2: rgba(45, 45, 45, 1);
  --ui-sheet-grouped-3: rgba(58, 58, 58, 1);
  --ui-text-1: rgba(246, 246, 246, 1);
  --ui-text-1-display: rgba(240, 240, 240, 1);
  --ui-text-2: rgba(255, 255, 255, 0.88);
  --ui-text-3: rgba(255, 255, 255, 0.6);
  --ui-text-danger: rgba(255, 118, 96, 1);
  --ui-text-danger-display: rgba(255, 91, 72, 1);
  --ui-text-info: rgba(96, 179, 255, 1);
  --ui-text-info-display: rgba(96, 179, 255, 1);
  --ui-text-placeholder: rgba(255, 255, 255, 0.4);
  --ui-text-primary: rgba(255, 87, 111, 1);
  --ui-text-primary-display: rgba(255, 59, 92, 1);
  --ui-text-secondary: rgba(32, 213, 236, 1);
  --ui-text-secondary-display: rgba(32, 213, 236, 1);
  --ui-text-success: rgba(11, 224, 155, 1);
  --ui-text-success-display: rgba(11, 224, 155, 1);
  --ui-text-warning: rgba(255, 181, 84, 1);
  --ui-text-warning-display: rgba(255, 149, 0, 1);
}
[data-theme='dark'] {
  --AssistColorAzure: #8fbee9;
  --AssistColorCelulean: #7ebbc9;
  --BGBase: #000;
  --BGBrand: rgba(254, 44, 85, 0.24);
  --BGCreation3: #121212;
  --BGInput: hsla(0, 0%, 100%, 0.12);
  --BGInput2: hsla(0, 0%, 100%, 0.08);
  --BGLevitation: #191919;
  --BGPlaceholderDefault: hsla(0, 0%, 100%, 0.08);
  --BGPlaceholderOpaque: #252525;
  --BGPrimary: #121212;
  --BGPrimary2: hsla(0, 0%, 100%, 0.04);
  --BGQuaternary: #383838;
  --BGQuinary: #4b4b4b;
  --BGReverse: #121212;
  --BGReverse2: hsla(0, 0%, 7%, 0.9);
  --BGSecondary: #252525;
  --BGSecondary2: hsla(0, 0%, 100%, 0.08);
  --BGTertiary: #2e2e2e;
  --BGTertiary2: hsla(0, 0%, 100%, 0.12);
  --BGView: hsla(0, 0%, 100%, 0.04);
  --BGView2: hsla(0, 0%, 100%, 0);
  --InteractStatePressedMaskLight: hsla(0, 0%, 100%, 0.1);
  --LineDarker: rgba(0, 0, 0, 0.35);
  --LineInput: hsla(0, 0%, 100%, 0.5);
  --LineInverse: hsla(0, 0%, 100%, 0);
  --LinePrimary: hsla(0, 0%, 100%, 0);
  --LinePrimary2: hsla(0, 0%, 100%, 0.2);
  --LineReverse2: hsla(0, 0%, 100%, 0.12);
  --LineReverse3: hsla(0, 0%, 100%, 0);
  --LineSecondary: hsla(0, 0%, 100%, 0.12);
  --LineSecondary2: hsla(0, 0%, 100%, 0);
  --LineSecondary3: hsla(0, 0%, 100%, 0.5);
  --Link: #ff3b5c;
  --Link2: #ff3b5c;
  --Link3: #ff3b5c;
  --Primary: #ff3b5c;
  --Primary2: hsla(0, 0%, 100%, 0.9);
  --SDTertiary: rgba(0, 0, 0, 0.5);
  --TagBrownBG: #805959;
  --TagBrownText: #ffb3b3;
  --TagGreenBG: #598066;
  --TagGreenText: #b2ffd9;
  --TagPurpleBG: #80596c;
  --TagPurpleText: #ffb2d9;
  --TextPrimary: hsla(0, 0%, 100%, 0.9);
  --TextQuaternary: hsla(0, 0%, 100%, 0.34);
  --TextReverse: hsla(0, 0%, 100%, 0.9);
  --TextReverse2: hsla(0, 0%, 100%, 0.75);
  --TextReverse3: hsla(0, 0%, 100%, 0.5);
  --TextReverse4: hsla(0, 0%, 100%, 0.34);
  --TextSecondary: hsla(0, 0%, 100%, 0.75);
  --TextTertiary: hsla(0, 0%, 100%, 0.5);
  --TextTertiary2: hsla(0, 0%, 100%, 0.75);
  --TextTertiaryAlt: hsla(0, 0%, 100%, 0.6);
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: rgb(18, 18, 18);
  color: rgba(255, 255, 255, 0.9);
  font-size: 14px;
  display: flex;
  flex-direction: row;
  font-family: 'Montserrat';
  font-weight: 500;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
}

body a {
  color: rgba(255, 255, 255, 0.9);
  transition: color 250ms;
  text-decoration: none;
  cursor: pointer;
}

button {
  background-color: transparent;
  border: 0px;
}

button,
[role='button'] {
  cursor: pointer;
}

a {
  color: #000;
  text-decoration: none;
}
.ALink {
  font-size: 12px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.9);
}

.ALink:hover {
  text-decoration: underline;
}

#root {
  width: 100vw;
  height: 100vh;
}

body strong {
  font-weight: 700;
}

img,
picture {
  max-width: 100%;
  display: block;
}

[data-tux-color-scheme] {
  color: rgba(0, 0, 0, 1);
  color: var(--ui-text-1);
}
:root[data-tux-color-scheme='dark'] {
  --brand-ai-1: rgba(132, 112, 255, 1);
  --brand-oscar-gold: rgba(186, 158, 94, 1);
  --brand-tako-1: rgba(0, 181, 238, 1);
  --brand-tako-2: rgba(255, 255, 255, 1);
  --brand-tiktok-plus-1: rgba(178, 132, 43, 1);
  --brand-tiktok-background: rgba(0, 0, 0, 1);
  --brand-tiktok-background-element: rgba(255, 255, 255, 1);
  --brand-tiktok-black: rgba(0, 0, 0, 1);
  --brand-tiktok-razzmatazz: rgba(254, 44, 85, 1);
  --brand-tiktok-splash: rgba(37, 244, 238, 1);
  --brand-tiktok-spotlight: rgba(255, 255, 255, 1);
  --brand-tiktok-subject-in-spotlight: rgba(0, 0, 0, 1);
  --brand-tiktok-white: rgba(255, 255, 255, 1);
  --brand-tiktokphotos-1: rgba(100, 250, 205, 1);
  --brand-tiktokphotos-2: rgba(0, 170, 150, 1);
  --brand-tokopedia-1: rgba(0, 170, 91, 1);
  --creation-adjust-background: rgba(255, 178, 215, 1);
  --creation-adjust-hsl-blue: rgba(50, 152, 246, 1);
  --creation-adjust-hsl-cyan: rgba(53, 225, 225, 1);
  --creation-adjust-hsl-fuchsia: rgba(201, 46, 255, 1);
  --creation-adjust-hsl-green: rgba(120, 194, 94, 1);
  --creation-adjust-hsl-indigo: rgba(88, 86, 214, 1);
  --creation-adjust-hsl-orange: rgba(255, 147, 61, 1);
  --creation-adjust-hsl-red: rgba(255, 82, 82, 1);
  --creation-adjust-hsl-yellow: rgba(242, 205, 70, 1);
  --creation-adjust-label: rgba(142, 31, 84, 1);
  --creation-filter-background: rgba(255, 191, 191, 1);
  --creation-filter-label: rgba(139, 35, 41, 1);
  --creation-flash-light-cold: rgba(211, 234, 255, 1);
  --creation-flash-light-warm: rgba(255, 242, 205, 1);
  --creation-glance-watermark: rgba(255, 248, 90, 1);
  --creation-pill-overlay: rgba(230, 230, 230, 0.28);
  --ec-black-text-1: rgba(0, 0, 0, 1);
  --ec-black-text-2: rgba(0, 0, 0, 0.65);
  --ec-black-text-3: rgba(0, 0, 0, 0.48);
  --ec-cyan-banner: rgba(26, 48, 49, 1);
  --ec-cyan-border: rgba(168, 231, 231, 0.14);
  --ec-cyan-main: rgba(0, 184, 185, 1);
  --ec-cyan-tag: rgba(0, 184, 185, 0.34);
  --ec-cyan-text: rgba(0, 184, 185, 1);
  --ec-cyan-text-on-tag: rgba(168, 231, 231, 1);
  --ec-primary-banner: rgba(57, 33, 37, 1);
  --ec-primary-border: rgba(255, 183, 197, 0.12);
  --ec-primary-tag: rgba(255, 59, 92, 0.34);
  --ec-primary-text-on-tag: rgba(255, 204, 214, 1);
  --ec-white-text-1: rgba(246, 246, 246, 1);
  --ec-white-text-2: rgba(255, 255, 255, 0.88);
  --ec-white-text-3: rgba(255, 255, 255, 0.6);
  --feed-anchor-bg: rgba(37, 37, 37, 0.34);
  --feed-top-tab-text-shadow-a30: rgba(0, 0, 0, 0.3);
  --feed-top-tab-text-shadow-a40: rgba(0, 0, 0, 0.4);
  --feed-top-tab-text-shadow-a50: rgba(0, 0, 0, 0.5);
  --feed-top-tab-text-shadow-a66: rgba(0, 0, 0, 0.66);
  --feed-top-tab-text-shadow-a83: rgba(0, 0, 0, 0.83);
  --localservice-poi: rgba(19, 189, 144, 1);
  --localservice-poi-background: rgba(19, 189, 144, 0.2);
  --misc-online-shape: rgba(29, 215, 101, 1);
  --misc-online-text: rgba(34, 198, 96, 1);
  --misc-rating-star-selected-fill: rgba(250, 206, 21, 1);
  --misc-verified-badge-1: rgba(32, 213, 236, 1);
  --misc-verified-badge-2: rgba(255, 255, 255, 1);
  --profile-icon-background-dark-gray: rgba(124, 124, 124, 0.9);
  --social-chat-gradient-blue-1: rgba(0, 184, 211, 1);
  --social-chat-gradient-blue-2: rgba(0, 173, 210, 1);
  --social-chat-gradient-blue-3: rgba(23, 135, 217, 1);
  --social-snail-1: rgba(124, 92, 253, 1);
  --social-story-gradient-green-1: rgba(11, 171, 249, 1);
  --social-story-gradient-green-2: rgba(32, 214, 235, 1);
  --social-story-gradient-green-3: rgba(10, 243, 185, 1);
  --social-story-gradient-purple-1: rgba(95, 124, 255, 1);
  --social-story-gradient-purple-2: rgba(115, 102, 254, 1);
  --social-story-gradient-purple-3: rgba(131, 90, 247, 1);
  --social-story-shape-purple: rgba(124, 92, 253, 0.66);
  --social-text-streak: rgba(255, 102, 18, 1);
  --ui-image-overlay-black: rgba(0, 0, 0, 1);
  --ui-image-overlay-black-a15: rgba(0, 0, 0, 0.15);
  --ui-image-overlay-black-a25: rgba(0, 0, 0, 0.25);
  --ui-image-overlay-black-a50: rgba(0, 0, 0, 0.5);
  --ui-image-overlay-black-a80: rgba(0, 0, 0, 0.8);
  --ui-image-overlay-dark-gray-a30: rgba(51, 51, 51, 0.3);
  --ui-image-overlay-dark-gray-a60: rgba(51, 51, 51, 0.6);
  --ui-image-overlay-dark-gray-a85: rgba(51, 51, 51, 0.85);
  --ui-image-overlay-white: rgba(255, 255, 255, 1);
  --ui-image-overlay-white-a20: rgba(255, 255, 255, 0.2);
  --ui-image-overlay-white-a40: rgba(255, 255, 255, 0.4);
  --ui-image-overlay-white-a75: rgba(255, 255, 255, 0.75);
  --ui-page-flat-1: rgba(0, 0, 0, 1);
  --ui-page-flat-2: rgba(30, 30, 30, 1);
  --ui-page-flat-3: rgba(44, 44, 44, 1);
  --ui-page-grouped-1: rgba(0, 0, 0, 1);
  --ui-page-grouped-2: rgba(30, 30, 30, 1);
  --ui-page-grouped-3: rgba(44, 44, 44, 1);
  --ui-shape-danger: rgba(255, 76, 58, 1);
  --ui-shape-danger-2: rgba(255, 76, 58, 0.68);
  --ui-shape-danger-3: rgba(255, 76, 58, 0.5);
  --ui-shape-danger-4: rgba(255, 76, 58, 0.29);
  --ui-shape-info: rgba(0, 117, 220, 1);
  --ui-shape-info-2: rgba(32, 151, 255, 0.6);
  --ui-shape-info-3: rgba(32, 151, 255, 0.47);
  --ui-shape-info-4: rgba(32, 151, 255, 0.29);
  --ui-shape-neutral: rgba(250, 250, 250, 1);
  --ui-shape-neutral-2: rgba(255, 255, 255, 0.32);
  --ui-shape-neutral-3: rgba(255, 255, 255, 0.19);
  --ui-shape-neutral-4: rgba(255, 255, 255, 0.13);
  --ui-shape-primary: rgba(254, 44, 85, 1);
  --ui-shape-primary-2: rgba(254, 44, 85, 0.6);
  --ui-shape-primary-3: rgba(254, 44, 85, 0.43);
  --ui-shape-primary-4: rgba(254, 44, 85, 0.27);
  --ui-shape-secondary: rgba(32, 213, 236, 1);
  --ui-shape-secondary-2: rgba(32, 213, 236, 0.5);
  --ui-shape-secondary-3: rgba(32, 213, 236, 0.32);
  --ui-shape-secondary-4: rgba(32, 213, 236, 0.21);
  --ui-shape-secondary-5: rgba(32, 213, 236, 0.13);
  --ui-shape-secondary-muted: rgba(0, 162, 201, 1);
  --ui-shape-secondary-muted-2: rgba(0, 162, 201, 0.66);
  --ui-shape-secondary-muted-3: rgba(0, 162, 201, 0.46);
  --ui-shape-secondary-muted-4: rgba(0, 162, 201, 0.3);
  --ui-shape-success: rgba(11, 224, 155, 1);
  --ui-shape-success-2: rgba(11, 224, 155, 0.66);
  --ui-shape-success-3: rgba(11, 224, 155, 0.46);
  --ui-shape-success-4: rgba(11, 224, 155, 0.25);
  --ui-shape-text-1-on-danger: rgba(255, 255, 255, 1);
  --ui-shape-text-1-on-info: rgba(231, 244, 255, 1);
  --ui-shape-text-1-on-neutral: rgba(0, 0, 0, 1);
  --ui-shape-text-1-on-primary: rgba(255, 255, 255, 1);
  --ui-shape-text-1-on-secondary: rgba(0, 52, 60, 1);
  --ui-shape-text-1-on-secondary-muted: rgba(255, 255, 255, 1);
  --ui-shape-text-1-on-success: rgba(0, 54, 40, 1);
  --ui-shape-text-1-on-warning: rgba(45, 18, 0, 1);
  --ui-shape-text-2-on-danger: rgba(255, 203, 190, 1);
  --ui-shape-text-2-on-info: rgba(142, 202, 255, 1);
  --ui-shape-text-2-on-neutral: rgba(0, 0, 0, 0.48);
  --ui-shape-text-2-on-primary: rgba(255, 217, 218, 1);
  --ui-shape-text-2-on-secondary: rgba(0, 102, 116, 1);
  --ui-shape-text-2-on-secondary-muted: rgba(177, 240, 255, 1);
  --ui-shape-text-2-on-success: rgba(0, 133, 104, 1);
  --ui-shape-text-2-on-warning: rgba(144, 74, 0, 1);
  --ui-shape-text-on-secondary-2-or-3: rgba(160, 237, 250, 1);
  --ui-shape-text-on-secondary-4-or-5: rgba(129, 204, 216, 1);
  --ui-shape-text-on-secondary-muted-2-or-3: rgba(173, 233, 255, 1);
  --ui-shape-text-on-secondary-muted-4-or-5: rgba(134, 201, 226, 1);
  --ui-shape-warning: rgba(255, 149, 0, 1);
  --ui-shape-warning-2: rgba(255, 149, 0, 0.67);
  --ui-shape-warning-3: rgba(255, 149, 0, 0.51);
  --ui-shape-warning-4: rgba(255, 149, 0, 0.28);
  --ui-sheet-backdrop-1: rgba(0, 0, 0, 0.7);
  --ui-sheet-backdrop-2: rgba(0, 0, 0, 0.5);
  --ui-sheet-flat-1: rgba(30, 30, 30, 1);
  --ui-sheet-flat-2: rgba(45, 45, 45, 1);
  --ui-sheet-flat-3: rgba(58, 58, 58, 1);
  --ui-sheet-grouped-1: rgba(30, 30, 30, 1);
  --ui-sheet-grouped-2: rgba(45, 45, 45, 1);
  --ui-sheet-grouped-3: rgba(58, 58, 58, 1);
  --ui-text-1: rgba(246, 246, 246, 1);
  --ui-text-1-display: rgba(240, 240, 240, 1);
  --ui-text-2: rgba(255, 255, 255, 0.88);
  --ui-text-3: rgba(255, 255, 255, 0.6);
  --ui-text-danger: rgba(255, 118, 96, 1);
  --ui-text-danger-display: rgba(255, 91, 72, 1);
  --ui-text-info: rgba(96, 179, 255, 1);
  --ui-text-info-display: rgba(96, 179, 255, 1);
  --ui-text-placeholder: rgba(255, 255, 255, 0.4);
  --ui-text-primary: rgba(255, 87, 111, 1);
  --ui-text-primary-display: rgba(255, 59, 92, 1);
  --ui-text-secondary: rgba(32, 213, 236, 1);
  --ui-text-secondary-display: rgba(32, 213, 236, 1);
  --ui-text-success: rgba(11, 224, 155, 1);
  --ui-text-success-display: rgba(11, 224, 155, 1);
  --ui-text-warning: rgba(255, 181, 84, 1);
  --ui-text-warning-display: rgba(255, 149, 0, 1);
}
