.DivActivityContainer > div {
  max-height: 100vh;
}
.DivInboxContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.DivInboxHeaderContainer {
  padding-top: 24px;
  flex: 0 0 auto;
  padding-left: 16px;
}
.H2InboxTitle {
  color: rgba(255, 255, 255, 0.9);
  font-family: TikTokDisplayFont, Arial, Tahoma, PingFangSC, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  display: flex;
}
.DivGroupContainer {
  color: rgba(255, 255, 255, 0.9);
  font-family: TikTokFont, Arial, Tahoma, PingFangSC, sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  margin-top: 16px;
  display: flex;
  flex-flow: wrap;
}
.ButtonGroupItem:not(:last-child) {
  margin-right: 8px;
}
.ButtonGroupItem {
  color: rgb(18, 18, 18);
  background: rgba(255, 255, 255, 0.9);
  border: none;
  padding: 2px 8px;
  margin-bottom: 12px;
  text-align: center;
  cursor: pointer;
  border-radius: 12px;
  transition: 300ms;
}
.DivInboxContentContainer {
  flex: 1 1 auto;
  overflow: auto;
}
.SvgContainer {
  display: block;
  margin: 6px auto;
}
