.TUXText--tiktok-sans {
  font-family: var(--tux-web-font-body);
}

.TUXText--weight-normal {
  font-weight: 400;
}

.TUXText--weight-medium {
  font-weight: 500;
}

.TUXText--weight-bold {
  font-weight: 700;
}

.TUXText {
  font-style: normal;
  font-weight: inherit;
}

.TUXText--tiktok-display {
  font-family: var(--tux-web-font-display);
}

.TUXText--truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.TUXMenuItem-label {
  flex: 1;
}
.TUXText--align-center {
  text-align: center;
}
/* color: var(--ui-text-3);
    font-size: 14px;
    text-wrap: nowrap; */
