.UserContainer {
  flex: 1 1 auto;
  overflow: hidden;
}
.DivShareLayoutBase-StyledShareLayoutV2 {
  display: flex;
  padding: 32px 24px 36px;
  flex-direction: column;
  flex: 1 1 auto;
  min-height: calc(1px + 100vh);
  margin: 0px auto;
  box-sizing: content-box;
}

.DivShareLayoutContentV2 {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.DivShareLayoutHeader-StyledDivShareLayoutHeaderV2-CreatorPageHeader {
  position: relative;
  flex: 0 0 auto;
  margin-bottom: 20px;
  box-sizing: border-box;
  max-width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  min-height: 140px;
  display: flex;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  gap: 28px;
}

@media screen and (max-width: 768px) {
  .DivShareLayoutHeader-StyledDivShareLayoutHeaderV2-CreatorPageHeader {
    flex-direction: column;
    gap: 20px;
  }
}

.DivContainer {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.SpanAvatarContainer-StyledAvatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-feature-settings: 'tnum';
  position: relative;
  overflow: hidden;
  color: rgb(255, 255, 255);
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  line-height: 32px;
  border-radius: 50%;
  border-color: rgba(255, 255, 255, 0.12);
  border-width: 0.5px;
  cursor: pointer;
  background-color: rgba(136, 136, 136, 0.5);
}

.ImgAvatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.DivShareTitleContainer-CreatorPageHeaderShareContainer {
  flex: 1 1 0%;
  overflow: visible;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin: 0px;
  gap: 12px;
}

@media screen and (max-width: 767px) {
  .DivShareTitleContainer-CreatorPageHeaderShareContainer {
    margin: 0px;
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .DivShareTitleContainer-CreatorPageHeaderShareContainer .userName {
    -webkit-box-align: center;
    align-items: center;
  }
}

.DivUserIdentifierWrapper {
  display: flex;
  -webkit-box-align: start;
  align-items: start;
  flex-direction: column;
  width: 100%;
}

.DivShareTitleContainer-CreatorPageHeaderShareContainer {
  margin-top: 0px;
  margin-bottom: 0px;
}

@media screen and (max-width: 768px) {
  .DivShareTitleContainer-CreatorPageHeaderShareContainer
    .userName
    .textUserName {
    -webkit-box-pack: center;
    justify-content: center;
  }
}

.DivUserTextWrapper {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  flex-direction: row;
  gap: 12px;
}
//DivButtonPanelWrapper
.DivButtonPanelWrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  gap: 12px;
  margin-top: 20px;
}

//
.DivShareLayoutHeader-StyledDivShareLayoutHeaderV2-CreatorPageHeader {
  font-size: 24px;
  line-height: 30px;
}

.H1ShareTitle {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  word-break: break-word;
  margin-bottom: 0px;
}

.H2ShareSubTitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  text-overflow: ellipsis;
  height: 25px;
  overflow: hidden;
  max-width: 450px;
  white-space: nowrap;
  display: flex;
  align-items: flex-end;
}

.DivShareTitleContainer-CreatorPageHeaderShareContainer > .actionsProfile {
  margin-top: 0px;
  margin-bottom: 0px;
}

.CreatorPageHeaderTextContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

@media screen and (max-width: 768px) {
  .CreatorPageHeaderTextContainer {
    -webkit-box-align: center;
    align-items: center;
  }
}

.H3CountInfos {
  display: flex;
  gap: 20px;
  flex-flow: wrap;
  -webkit-box-align: center;
  align-items: center;
  margin-top: 16px;
  color: rgba(18, 18, 18, 0.75);
}

.DivNumber {
  color: rgba(255, 255, 255, 0.9);
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  direction: ltr;
  -webkit-box-align: baseline;
  align-items: baseline;
  cursor: pointer;
}
.SpanUnit {
  color: rgba(255, 255, 255, 0.75);
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: inline-block;
  margin-left: 6px;
}

.H2ShareDes {
  text-align: left;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  white-space: pre-line;
  margin-top: 10px;
  max-width: 600px;
}

//DivShareLayoutMain
.DivShareLayoutMain {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  -webkit-box-pack: start;
  justify-content: flex-start;
  min-height: 490px;
  align-items: flex-start;
  min-width: 520px;
  position: relative;
}
@media screen and (max-width: 768px) {
  .DivFeedTabWrapper {
    flex-direction: column;
    gap: 1rem;
    -webkit-box-pack: center;
    justify-content: center;
  }
}
.DivFeedTabWrapper {
  position: relative;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  min-height: 46px;
  margin-bottom: 24px;
  background-color: var(--ui-page-flat-1);
}

.MainDetailWrapper {
  flex: 0 0 auto;
  -webkit-box-pack: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  min-height: 490px;
  -webkit-box-align: center;
  align-items: center;
  margin: 0px auto;
}

.DivVideoFeedTab {
  position: relative;
  top: 0px;
  z-index: 0;
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: start;
  justify-content: start;
  width: 100%;
  height: 44px;
}
@media screen and (max-width: 768px) {
  .DivVideoFeedTab {
    justify-content: space-evenly;
  }
}

.PPost {
  font-family: TikTokFont, Arial, Tahoma, PingFangSC, sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  flex-shrink: 0;
  height: 44px;
  padding: 0px 32px;
  cursor: pointer;
  text-align: center;
  gap: 4px;
}
.DivBottomLine {
  position: absolute;
  height: 2px;
  background: rgba(255, 255, 255, 0.9);
  bottom: 0px;
  transition: transform 0.3s;
  inset-inline-start: 0px;
}
.DivFeedTabWrapper::after {
  position: absolute;
  bottom: 0px;
  left: 0px;
  content: '';
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.12);
  transform: scaleY(0.5);
}
.PFavorite {
  font-family: TikTokFont, Arial, Tahoma, PingFangSC, sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  flex-shrink: 0;
  height: 44px;
  padding: 0px 32px;
  cursor: pointer;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  gap: 4px;
}
.PLike {
  font-family: TikTokFont, Arial, Tahoma, PingFangSC, sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  flex-shrink: 0;
  height: 44px;
  padding: 0px 32px;
  cursor: pointer;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  gap: 4px;
}
.PLike[data-active='true'] {
  border-bottom: 2px solid rgba(255, 255, 255, 0.9);
  color: rgba(255, 255, 255, 0.9);
}
.PRepost[data-active='true'] {
  border-bottom: 2px solid rgba(255, 255, 255, 0.9);
  color: rgba(255, 255, 255, 0.9);
}
.PPost[data-active='true'] {
  border-bottom: 2px solid rgba(255, 255, 255, 0.9);
  color: rgba(255, 255, 255, 0.9);
}
.PRepost {
  font-family: TikTokFont, Arial, Tahoma, PingFangSC, sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  flex-shrink: 0;
  height: 44px;
  padding: 0px 32px;
  cursor: pointer;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  gap: 4px;
}
.SpanUnit:hover {
  text-decoration: underline;
}

.DivErrorIconWrapper {
  height: 92px;
  width: 92px;
  background-color: var(--ui-sheet-flat-2);
  color: var(--ui-text-1);
  border-radius: 50%;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}
