.DivContentFlexLayout {
  height: max-content;
  display: flex;
  flex-direction: row;
  -webkit-box-flex: 1;
  flex-grow: 1;
  -webkit-box-align: end;
  align-items: end;
  -webkit-box-pack: center;
  justify-content: center;
  gap: 1rem;
}

@media screen and (max-width: 768px) {
  .DivContentFlexLayout {
    -webkit-box-pack: center;
    justify-content: center;
  }
}

//-SectionMediaCardContainer: BEGIN
@supports (width: -webkit-fill-available) {
  .SectionMediaCardContainer {
    width: -webkit-fill-available;
  }
}

.SectionMediaCardContainer {
  position: relative;
  box-sizing: border-box;
  background-size: cover;
  cursor: pointer;
  aspect-ratio: 0.5625 / 1;
  min-width: calc(500px - 9.5rem);
  min-height: calc(888.889px - 16.8889rem);
  max-height: calc(0px - 1rem + 100vh);
  max-width: calc((0px - 1rem + 100vh) * 0.5625);
  align-self: center;
  -webkit-box-flex: 1;
  flex-grow: 1;
  overflow: hidden;
  border-radius: 16px;
}
.CanvasMediaCardPlaceholder {
  display: block;
  visibility: hidden;
  height: 100%;
}

//+BasePlayerContainer-DivVideoPlayerContainer: BEGIN
.BasePlayerContainer-DivVideoPlayerContainer {
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  max-height: 100%;
  width: 100%;
  height: 100%;
  overflow: visible;
  border-radius: 16px;
}
.BasePlayerContainer-DivVideoPlayerContainer > div {
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

//*DivContainer
.DivContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-color: rgba(255, 255, 255, 0.08);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.thumbnailVideo {
  width: 100%;
  height: 100%;
  position: relative;
}

.thumbnailVideoContainer {
  box-sizing: border-box;
  display: block;
  overflow: hidden;
  width: initial;
  height: initial;
  background: none;
  opacity: 1;
  border: 0px;
  margin: 0px;
  padding: 0px;
  position: absolute;
  inset: 0px;
}

.thumbnailImg {
  position: absolute;
  inset: 0px;
  box-sizing: border-box;
  padding: 0px;
  border: none;
  margin: auto;
  display: block;
  width: 0px;
  height: 0px;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
}

.thumbnailVideo img {
  object-fit: cover;
}

.DivBasicPlayerWrapper {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-items: center;
  align-items: center;
}
.DivBasicPlayerWrapper .tiktok-web-player {
  width: 100%;
  height: 100%;
}
.DivBasicPlayerWrapper .tiktok-web-player video {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
//*DivContainer: END

//*DivActionBGMask
.DivActionBGMask {
  height: 40%;
  background: linear-gradient(rgba(18, 18, 18, 0) 0%, rgba(0, 0, 0, 0.3) 100%);
  width: 100%;
  position: absolute;
  bottom: 0px;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
  transition-duration: 0.3s;
}

//*DivMediaCardBottom: BEGIN
.DivMediaCardBottom {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding: 0px 12px 16px;
  max-height: 50%;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: end;
  justify-content: end;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  background: linear-gradient(
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 12%,
    rgba(0, 0, 0, 0.01) 21%,
    rgba(0, 0, 0, 0.02) 29%,
    rgba(0, 0, 0, 0.03) 35%,
    rgba(0, 0, 0, 0.04) 40%,
    rgba(0, 0, 0, 0.06) 45%,
    rgba(0, 0, 0, 0.08) 48%,
    rgba(0, 0, 0, 0.1) 52%,
    rgba(0, 0, 0, 0.12) 55%,
    rgba(0, 0, 0, 0.14) 60%,
    rgba(0, 0, 0, 0.16) 65%,
    rgba(0, 0, 0, 0.18) 71%,
    rgba(0, 0, 0, 0.2) 79%,
    rgba(0, 0, 0, 0.22) 88%,
    rgba(0, 0, 0, 0.24) 100%
  );
  color: rgba(255, 255, 255, 0.9);
  font-weight: 500;
  transition: opacity 300ms ease-out;
}
.DivCaptionContainer:empty {
  display: none;
}

.DivCaptionContainer {
  width: fit-content;
  max-width: 100%;
}
.DivAnchorTagContainer {
  position: relative;
  max-height: 24px;
}
.DivInlineMusicAndIconContainer {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  align-items: end;
  max-height: 2.5rem;
}
.DivAuthorContentWrapper {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  gap: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
}
.DivAuthorContentWrapper .e1g2yhv84 {
  min-width: 0px;
  overflow-x: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
}

@media screen and (max-width: 479px) {
  .DivAuthorContainer {
    margin-bottom: 12px;
  }
}

.DivAuthorContainer {
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
}

@media screen and (max-width: 479px) {
  .StyledAuthorAnchor {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

.StyledAuthorAnchor {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  gap: 0.25rem;
}

.H3AuthorTitle {
  font-family: 'IBM Plex Sans', 'Montserrat', Arial, Tahoma, PingFangSC,
    sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  display: inline-block;
  color: var(--ui-text-1);
}

@media screen and (max-width: 767px) {
  .H3AuthorTitle {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

.DivMediaCardBottom .exnv47g0 {
  max-height: 50%;
  overflow-y: auto;
  overscroll-behavior-y: contain;
}

.DivPlayerControlsRight {
  display: flex;
  -webkit-box-align: end;
  align-items: end;
}
//*DivMediaCardBottom: END
//+BasePlayerContainer-DivVideoPlayerContainer: END
//-SectionMediaCardContainer: END

//-SectionActionBarContainer: BEGIN
.SectionActionBarContainer {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
}
//+DivAvatarActionItemContainer: BEGIN
.DivAvatarActionItemContainer {
  position: relative;
  margin-bottom: 20px;
}
.AvatarLink {
  flex: 0 0 auto;
}
@media screen and (max-width: 479px) {
  .AvatarLink {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .DivAvatarActionItemContainer > a * {
    width: 32px !important;
    height: 32px !important;
  }
}

.DivContainer {
  border-radius: 50%;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  border-width: 1px;
  border-style: solid;
  width: 100%;
  height: 100%;
  border-color: transparent;
}
@media screen and (max-width: 768px) {
  .DivAvatarActionItemContainer > a * {
    width: 32px !important;
    height: 32px !important;
  }
}

.DivAvatarWrapper {
  overflow: hidden;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
}
.DivAvatarActionItemContainer span[shape='circle'] {
  box-shadow: rgba(255, 255, 255, 0.12) 0px 0px 1px 1px;
}

@media screen and (max-width: 768px) {
  .DivAvatarActionItemContainer > a * {
    width: 32px !important;
    height: 32px !important;
  }
}
.ImgAvatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.SpanAvatarContainer-StyledAvatar {
  display: inline-block;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-feature-settings: 'tnum';
  position: relative;
  overflow: hidden;
  color: rgb(255, 255, 255);
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  line-height: 32px;
  border-radius: 50%;
  border-color: rgba(255, 255, 255, 0.12);
  border-width: 0.5px;
  cursor: pointer;
  background-color: rgba(136, 136, 136, 0.5);
}
.ButtonActionItem {
  border: none;
  background: none;
  outline: none;
  padding: 0px;
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
  flex-direction: column;
  color: white;
}

.SpanIconWrapper {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 50%;
  transition: 200ms ease-in-out;
  cursor: pointer;
  width: 48px;
  height: 48px;
  font-size: 17.5px;
  background-color: rgba(255, 255, 255, 0.12);
  margin-top: 8px;
  margin-bottom: 6px;
}
@media screen and (max-width: 768px) {
  .SpanIconWrapper {
    width: 32px;
    height: 32px;
    padding: 6px;
  }
}

.StrongText {
  font-family: 'IBM Plex Sans', 'Montserrat', Arial, Tahoma, PingFangSC,
    sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.75);
  text-align: center;
}
//-SectionActionBarContainer: END
.DivFlexColumn {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.DivAuthorContentWrapper {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  gap: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.ImgArticle {
  width: 100%;
}

//Follow Button
@media screen and (max-width: 768px) {
  .Button-StyledAvatarFollowButton {
    width: 16px;
    height: 16px;
    transition: 200ms ease-in-out;
  }
}
.Button-StyledAvatarFollowButton {
  box-sizing: border-box;
  appearance: none;
  display: inline-flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  font-family: var(--tux-fontFamilyParagraph);
  font-weight: var(--tux-fontWeightSemibold);
  text-decoration: none;
  cursor: pointer;
  background-clip: padding-box;
  font-size: var(--tux-fontSizeP4);
  padding-inline: 11px;
  color: var(--tux-colorConstTextInverse);
  background-color: var(--tux-colorPrimary);
  border-color: var(--tux-colorPrimary);
  width: 24px;
  height: 24px;
  min-width: unset;
  padding: 0px;
  border-radius: 24px;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, 50%);
}
.ButtonContent {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  opacity: 1;
  overflow: hidden;
  gap: 4px;
}
//*DivVideoProgressContainer: BEGIN
.DivVideoProgressContainer {
  position: absolute;
  inset-inline: 0px;
  bottom: 0px;
}
.DivProgressBar {
  position: relative;
  height: max(0.25rem, 1rem);
  width: 100%;
}

.DivProgressBar .e14k2ouv2 {
  height: calc(0.75rem);
  width: calc(0.75rem);
  transform: translateX(-50%) translateY(0.25rem);
}

.DivProgressBar:hover .e14k2ouv2 {
  transform: translateX(-50%) translateY(calc(0.125rem));
}

.DivProgressBarScrubHead {
  position: absolute;
  width: 30px;
  height: 30px;
  z-index: 1;
  transform: translateX(-50%);
  bottom: 0px;
  opacity: 0;
  background-color: var(--ui-image-overlay-white);
  border-radius: 50%;
  box-shadow: 0 0 1px 1px var(--ui-image-overlay-black-a15);
  cursor: grab;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
  transition-property: transform, opacity;
}
//
.DivProgressBarContainer {
  display: flex;
  position: absolute;
  width: 100%;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 100%;
  clip-path: inset(0px round 0px 0px 1rem 1rem);
  border-radius: 99px;
  height: 0.25rem;
}

.DivProgressBar .e14k2ouv3,
.DivProgressBar .e14k2ouv4 {
  height: 0.25rem;
}
.DivProgressBar:hover .e14k2ouv3,
.DivProgressBar:hover .e14k2ouv4 {
  height: calc(0.375rem);
}
.DivProgressBarBounds {
  position: absolute;
  width: 100%;
  height: 0.25rem;
  align-self: end;
  background-color: var(--ui-image-overlay-white-a40);
  transition: height 150ms ease-in-out;
  border-radius: 99px;
}
.DivProgressBarBounds {
  height: 0.5rem;
}
.DivProgressBarElapsed {
  height: 100%;
  position: relative;
  z-index: 1;
  bottom: 0px;
  left: 0px;
  transform-origin: left center;
  background-color: var(--ui-shape-primary);
  transition: height 150ms ease-in-out;
  border-radius: 99px;
}
// .DivProgressBarElapsed {
//   width: 100%;
//   position: absolute;
//   bottom: 0px;
//   left: 0px;
//   transform-origin: left center;
//   transform: scaleX(0);
//   background-color: var(--ui-shape-primary);
//   transition: height 150ms ease-in-out;
// }

.DivProgressBarElapsed::after {
  position: absolute;
  content: '';
  width: 14px;
  height: 14px;
  border-radius: 50%;
  right: -8px;
  top: -4px;
  opacity: 0;
  visibility: hidden;
  background-color: rgb(255, 255, 255);
  transition: all 0.1s ease;
  pointer-events: none; /* vẫn OK nếu bạn không cần hover vào chấm */
  overflow: visible;
}

/* Hover vào phần tử cha thì hiện ::after */
.DivProgressBarContainer:hover {
  height: 0.5rem;
}
.DivProgressBarContainer:hover .DivProgressBarElapsed::after {
  opacity: 1;
  visibility: visible;
}
//*DivVideoProgressContainer: END
.DivFlexCenter {
  display: flex;
  height: 40px;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}
.DivAudioControlContainer {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
}
.DivMuteIconContainer {
  padding: 8px;
  opacity: 1;
  height: 40px;
  width: 50px;
  transition: opacity 0.3s;
  position: relative;
  filter: drop-shadow(rgba(12, 12, 12, 0.2) 2px 2px 5px);
}

//*DivMediaCardTop: BEGIN
.DivMediaCardTop {
  transition: opacity 0.3s;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
}
.DivMediaControlsTop {
  padding: 4px;
  display: flex;
  flex-direction: row;
  -webkit-box-pack: justify;
  justify-content: space-between;
  transition: opacity 0.3s;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.DivFlexCenter {
  display: flex;
  height: 40px;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

//*DivMediaCardTop: END
.volumeSlider {
  position: absolute;
  margin-left: 10px;
  top: 10px;
  left: 80px;
  height: 24px;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.6);
  padding: 4px 6px;
  border-radius: 99px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s;
}
.volumeSlider input[type='range'] {
  -webkit-appearance: none;
  width: 80px;
  height: 4px;
  background: #aaa; /* Màu thanh */
  border-radius: 2px;
  outline: none;
  cursor: pointer;
}
.volumeSlider input[type='range']::-webkit-slider-runnable-track {
  height: 4px;
  background: linear-gradient(
    to right,
    white var(--progressVolume),
    #aaa var(--progressVolume)
  );
  border-radius: 2px;
}

.volumeSlider input[type='range']::-moz-range-track {
  height: 4px;
  background: linear-gradient(
    to right,
    white var(--progressVolume),
    #aaa var(--progressVolume)
  );
  border-radius: 2px;
}

/* Thumb */
.volumeSlider input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: white;
  border: none;
  margin-top: -4px;
}

.volumeSlider input[type='range']::-moz-range-thumb {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: white;
  border: none;
}
.DivMuteIconContainer:hover .volumeSlider {
  opacity: 1;
  pointer-events: auto;
}
.ButtonExpand-StyledButtonBottom {
  color: rgba(255, 255, 255, 0.9);
  font-family: TikTokFont, Arial, Tahoma, PingFangSC, sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  height: 18px;
  flex-shrink: 0;
}
.DivMediaCardBottom button,
.DivMediaCardBottom .e1g2yhv81,
.DivMediaCardBottom .e1g2yhv80,
.DivMediaCardBottom .e1g2yhv85 {
  color: rgba(255, 255, 255, 0.9);
}
.DivMultilineText::before {
  content: '';
  height: calc(100% - 18px);
  float: right;
  width: 0px;
  margin-top: 0px;
}
.DivAnchorTagWrapper {
  display: flex;
  gap: 2px 6px;
  flex-wrap: wrap;
  margin-left: -2px;
}
.DivAnchorTagContainer :global(.e1sksq2r0) :global(.e1sksq2r5),
.DivAnchorTagContainer :global(.e1sksq2r0) > div {
  background-color: rgba(37, 37, 37, 0.6);
  color: rgba(255, 255, 255, 0.9);
  padding: 4px 6px;
  flex-shrink: 0;
}
.DivAnchorTag {
  margin-bottom: 0px;
  min-width: 0px;
  height: 22px;
  padding: 1px 6px 1px 4px;
  background: rgba(255, 255, 255, 0.04);
  display: inline-flex;
  border-radius: 4px;
  -webkit-box-align: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.9);
  margin-top: 2px;
}
.StyledLink {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  text-decoration: none;
  min-width: 0px;
}
.PAnchorTagName {
  font-size: 13px;
  font-weight: 400;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-left: 8px;
}
.DivMainInfoContainer {
  opacity: 1;
  transition: opacity 400ms cubic-bezier(0.25, 0, 0.25, 1);
}
.DivAnchorTagContainer :global(.e1sksq2r0) {
  flex-wrap: nowrap;
  scrollbar-width: none;
  overflow-x: scroll;
  flex-shrink: 0;
}
.DivMediaCardBottom :global(.media-card-music-info) {
  color: rgba(255, 255, 255, 0.9);
}
.MusicNoteIcon {
  flex-shrink: 0;
  width: 14px;
  height: 14px;
  margin-right: 5px;
}
.DivMusicText {
  -webkit-line-clamp: 1;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.DivMediaCardBottom :global(.media-card-music-info) svg {
  fill: rgba(255, 255, 255, 0.9);
}
