.DivCodeInputContainer {
  transition: 0.3s;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.12);
  border-radius: 4px;
}
.DivIconContainer {
  position: absolute;
  right: 12px;
  top: 16px;
}
.DivIconContainer:hover {
  cursor: pointer;
}
.DivTextContainer {
  font-family: 'Montserrat';
  font-size: 15px;
  line-height: 15px;
  margin: 4px 0px;
  color: rgb(255, 76, 58);
  display: flex;
  margin-top: 10px;
}

.ButtonSendCode:disabled {
  color: rgba(255, 255, 255, 0.34);
  cursor: not-allowed;
}

.ButtonSendCode {
  color: rgba(255, 255, 255, 0.9);
  font-family: 'Montserrat';
  font-weight: 600;
  margin: 0px;
  background-color: rgba(255, 255, 255, 0.08);
  border-color: rgba(255, 255, 255, 0);
  border-width: 1.5px;
  border-style: solid;
  border-radius: 0px 4px 4px 0px;
  border-inline-start-width: 1.5px;
  cursor: pointer;
  font-size: 16px;
  padding: 0px 16px;
  height: 44px;
  flex-shrink: 0;
  box-sizing: content-box;
}
