.DivLastLoginMethodContainer {
    color: rgb(255, 255, 255);
    height: 16px;
    padding: 0px 8px;
    border-radius: 10px 10px 10px 2px;
    background-color: rgb(32, 213, 236);
    font-size: 11px;
    line-height: 16px;
    font-weight: 600;
    margin-top: -8px;
    margin-bottom: -8px;
    width: fit-content;
    margin-inline: auto 12px;
    position: relative;
    z-index: 1;
}
