.DivActionOutsideContainer {
  padding: 8px 0px;
}
.DivActionContainer {
  color: rgba(255, 255, 255, 0.9);
  font-family: TikTokFont, Arial, Tahoma, PingFangSC, sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  display: block;
  padding: 0px 16px;
  cursor: pointer;
  -webkit-box-align: center;
  align-items: center;
  min-width: 180px;
  box-sizing: border-box;
  box-shadow: unset;
}
.DivActionItem {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding: 13px 0px;
  border-bottom: 1px solid rgba(22, 24, 35, 0.12);
}
.PText {
  margin-left: 15px;
  white-space: nowrap;
}
