.DivDrawerWrapper {
  position: fixed;
  z-index: 10;
  display: flex;
  justify-content: flex-end;
  pointer-events: auto;
}

.DivDrawerMask {
  top: 0px;
  inset-inline-start: calc(24.5rem);
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 99;
}

.DivDrawerContainer {
  width: 20rem;
  height: 100vh;
  position: fixed;
  inset-inline-start: 4.5rem;
  background-color: var(--ui-page-flat-1);
  z-index: 99;
  border-right: 1px solid rgba(255, 255, 255, 0.12);
  border-left: 1px solid rgba(255, 255, 255, 0.12);
  overscroll-behavior: contain;
}
.DivDrawerCloseButtonContainer {
  position: absolute;
  top: 1.5rem;
  inset-inline-end: 1rem;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}
.StyledTUXMoreCloseButton {
  min-width: 0px;
  height: 1.75rem;
  padding: 0px;
}
