.DivTextContainer {
  font-family: 'Montserrat';
  line-height: 15px;
  margin: 4px 0px;
  color: rgba(255, 255, 255, 0.5);
  display: flex;
}
.DivDescription {
  color: rgba(255, 255, 255, 0.9);
  font-weight: 600;
  font-size: 15px;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin-bottom: 5px;
}
.DivTextContainer2 {
  color: rgba(255, 255, 255, 0.9);
  font-family: 'Montserrat';
  font-weight: 700;
  height: 44px;
  line-height: 44px;
  text-align: center;
  font-size: 16px;
  margin-top: 10px;
  width: 100%;
  cursor: pointer;
}
.css-10djjbw-DivSuggestListWrapper {
  position: relative;
  margin-top: 11px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.12);
  background: rgb(18, 18, 18);
  z-index: 2;
  width: 100%;
}
.css-myif39-DivLabel {
  color: rgba(255, 255, 255, 0.5);
  font-family: 'Montserrat';
  font-size: 13px;
  line-height: 17px;
  padding: 16px 12px 9px;
}
.css-3s5rn0-UlList {
  padding: 0px;
  margin: 0px;
  max-height: 200px;
  overflow-y: auto;
}
.css-1v3wwlv-LiListItem {
  color: rgba(255, 255, 255, 0.9);
  font-family: 'Montserrat';
  display: flex;
  padding: 0px 12px;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  height: 34px;
  line-height: 18px;
  font-size: 13px;
  cursor: pointer;
}
.css-10djjbw-DivSuggestListWrapper::before {
  content: '';
  height: 14px;
  position: absolute;
  background: rgb(18, 18, 18);
  width: 14px;
  top: -7px;
  left: 14px;
  right: unset;
  z-index: -1;
  border-inline-end: 1px solid rgba(255, 255, 255, 0);
  border-top: 1px solid rgba(255, 255, 255, 0);
  transform: rotateZ(-45deg);
}
