.DivContainer {
  margin-bottom: 0px;
}

.DivPhoneInputContainer {
  background-color: rgba(255, 255, 255, 0.12);
  border: 1px solid rgba(255, 255, 255, 0);
  transition: 0.3s;
  border-radius: 4px;
  display: flex;
}

.DivAreaSelectionContainer {
  position: relative;
  cursor: pointer;
}
.DivAreaLabelContainer {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  position: relative;
  padding: 12px;
  height: 44px;
}
.DivAreaLabelContainer::after {
  content: '';
  width: 1px;
  height: 30px;
  background: rgba(255, 255, 255, 0.12);
  right: 0px;
  left: unset;
  position: absolute;
}

.SpanLabelContainer {
  font-size: 16px;
  line-height: 1;
  color: rgba(255, 255, 255, 0.9);
  margin-inline-end: 12px;
}
.DivTextContainer {
  font-size: 14px;
  line-height: 15px;
  margin: 4px 0px;
  color: rgb(255, 76, 58);
  display: flex;
}
